Repository Kong/kong-operator, pull requests merged in 2024-04, with the labels that each got.

#79 fix(dataplane): don't populate replicas when scaling defined
  CHANGELOG.md
  controllers/gateway/controller.go
  controllers/gateway/controller_test.go
  test/integration/test_gateway.go
Labels: area/dataplane

#90 chore(docs): add changing layout of project to CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#101 chore(ci): fix dir exclusion and add gocritic to golangci-lint, fix reported issues
  .golangci.yaml
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/status_conditions.go
  controller/dataplane/owned_deployment.go
  controller/gateway/controller.go
  modules/admission/validator.go
  pkg/utils/kubernetes/compare/comparators.go
  pkg/utils/kubernetes/metadata.go
  test/conformance/conformance_test.go
  test/conformance/suite_test.go
  test/integration/suite.go
Labels: area/maintenance

#108 chore(refactor): get rid of golang.org/x/exp
  .golangci.yaml
  go.mod
  modules/manager/controller_setup.go
  pkg/utils/kubernetes/metadata.go
Labels: area/maintenance

#104 tests: unskip controlplane upgrade test
  pkg/utils/test/consts.go
  test/integration/test_manual_upgrades_and_downgrades.go
Labels: area/tests

#202 chore(ci): update release workflow
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
Labels: area/ci

#204 chore(ci): run tests for push events on release branches
  .github/workflows/tests.yaml
Labels: area/ci

#111 chore: bump KIC to 3.1.3
  config/samples/aigateway.yaml
  config/samples/controlplane.yaml
  config/samples/gateway-httproute.yaml
  hack/generators/kic/webhook-config-generator/main.go
  hack/generators/kic/webhook-config-generator/templates.go
  internal/versions/controlplane.go
Labels: area/maintenance

#206 fix(ci): fix release CI to work with release branches
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/release.yaml
  go.mod
Labels: area/ci

#212 chore(refactor): get rid of duplicated helper for TLS certs, and improve existing ones
  .golangci.yaml
  test/helpers/certificate/certificate.go
  test/helpers/certs.go
  test/helpers/generators.go
  test/integration/test_httproute.go
Labels: area/maintenance

#220 chore: fix changelog references and add 1.2.2 retract note
  CHANGELOG.md
Labels: area/maintenance

#230 chore: use mise managed yq in Makefile
  .tools_versions.yaml
  Makefile
Labels: area/maintenance

#235 chore(ci): upload diagnostics using actions/upload-artifact@v4
  .github/workflows/tests.yaml
Labels: area/ci
