Repository Kong/kong-operator, pull requests merged in 2024-08, with the labels that each got.

#441 feat: add API for DataPlane managed PDB
  api/v1beta1/dataplane_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/samples/dataplane-pdb.yaml
  docs/api-reference.md
Labels: area/dataplane

#458 chore: add Konnect SDK factory
  controller/konnect/sdkfactory.go
  go.mod
  go.sum
Labels: area/konnect

#446 feat(konnect): add generic reconciler scaffolding
  .golangci.yaml
  controller/konnect/conditions.go
  controller/konnect/constraints.go
  controller/konnect/entitytypename.go
  controller/konnect/errors.go
  controller/konnect/ops.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/watch.go
  go.mod
  go.sum
  hack/generators/go.mod
  modules/manager/scheme/scheme.go
Labels: area/konnect

#456 feat(konnect): add KonnectAPIAuthConfiguration reconciler
  config/rbac/role/role.yaml
  controller/konnect/constraints.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_konnectapiauth_rbac.go
  go.mod
  go.sum
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/controller_setup.go
  modules/manager/run.go
Labels: area/konnect

#459 feat(konnect): support Secrets in KonnectAPIAuthConfiguration
  Makefile
  config/samples/konnect_apiauth_configuration.yaml
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_konnectapiauth_rbac.go
  controller/konnect/reconciler_konnectapiauth_test.go
  controller/konnect/reconciler_konnectapiauth_watch.go
  modules/manager/scheme/scheme.go
Labels: area/konnect

#464 feat(dp): handle PodDisruptionBudget reconciliation for deployment
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/rbac/role/role.yaml
  controller/dataplane/controller.go
  controller/dataplane/controller_rbac.go
  controller/dataplane/owned_resources.go
  controller/dataplane/watch.go
  controller/konnect/constraints.go
  controller/pkg/patch/patch.go
  docs/api-reference.md
  pkg/utils/kubernetes/lists.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/reduce/reduce.go
  pkg/utils/kubernetes/resources/pdbs.go
  pkg/utils/test/asserts.go
  pkg/utils/test/predicates.go
  test/integration/test_dataplane.go
  test/integration/zz_generated_registered_testcases.go
Labels: area/dataplane

#424 feat: introduce basic reconciliation for KongPluginInstallation CRD
  .github/workflows/tests.yaml
  CHANGELOG.md
  api/v1alpha1/kongplugin_installation_types.go
  config/crd/bases/gateway-operator.konghq.com_kongplugininstallations.yaml
  config/crd/kustomization.yaml
  config/debug/manager_debug.yaml
  config/dev/manager_dev.yaml
  config/rbac/role/role.yaml
  controller/kongplugininstallation/controller.go
  controller/kongplugininstallation/controller_rbac.go
  controller/kongplugininstallation/image/image.go
  controller/kongplugininstallation/image/image_test.go
  docs/api-reference.md
  go.mod
  go.sum
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/controller_setup.go
  modules/manager/run.go
  pkg/utils/kubernetes/lists.go
  test/integration/suite.go
  test/integration/test_kongplugininstallation.go
  test/integration/utils.go
  test/integration/zz_generated_registered_testcases.go
Labels: enhancement, area/feature

#462 feat(konnect): add `KonnectControlPlane` reconciler
  CHANGELOG.md
  controller/konnect/constraints.go
  controller/konnect/ops.go
  controller/konnect/ops_controlplane.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/sdkfactory.go
  controller/konnect/watch.go
  controller/konnect/watch_konnectcontrolplane.go
  modules/manager/controller_setup.go
Labels: area/konnect

#474 chore: change format of image for KongPluginInstallation
  CHANGELOG.md
  Dockerfile
  controller/kongplugininstallation/controller.go
  controller/kongplugininstallation/image/image.go
  controller/kongplugininstallation/image/image_test.go
  test/integration/test_kongplugininstallation.go
Labels: enhancement, area/feature

#470 feat(konnect): add KongService reconciler
  .golangci.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongservice.yaml
  controller/controlplane/controller_watch.go
  controller/dataplane/owned_finalizer_controller.go
  controller/gateway/controller_watch.go
  controller/gatewayclass/controller_watch.go
  controller/kongplugininstallation/controller.go
  controller/konnect/conditions.go
  controller/konnect/constraints.go
  controller/konnect/ops.go
  controller/konnect/ops_controlplane.go
  controller/konnect/ops_kongservice.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_konnectapiauth_watch.go
  controller/konnect/watch.go
  controller/konnect/watch_kongservice.go
  controller/pkg/log/log.go
  controller/pkg/secrets/cert.go
  controller/pkg/watch/gatewayclass_watch_predicates.go
  controller/specialized/aigateway_controller_watch.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
Labels: area/konnect

#482 feat(konnect): make controlPlaneRef optional for KongService
  controller/konnect/constraints.go
  controller/konnect/errors.go
  controller/konnect/ops.go
  controller/konnect/ops_controlplane.go
  controller/konnect/ops_kongservice.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongservice.go
  controller/konnect/watch_konnectcontrolplane.go
  go.mod
  go.sum
Labels: area/konnect

#505 chore(tests): fix tests in KGO EE after bumping controller-runtime to v0.19.0
  modules/manager/run.go
Labels: area/tests, area/maintenance

#506 feat(konnect): add KongRoute reconciler
  CHANGELOG.md
  config/samples/konnect_kongroute.yaml
  controller/konnect/conditions.go
  controller/konnect/constraints.go
  controller/konnect/errors.go
  controller/konnect/ops.go
  controller/konnect/ops_controlplane.go
  controller/konnect/ops_kongconsumer.go
  controller/konnect/ops_kongroute.go
  controller/konnect/ops_kongservice.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongroute.go
  controller/konnect/watch_kongservice.go
  controller/konnect/watch_test.go
  modules/manager/controller_setup.go
Labels: area/konnect

#510 feat(konnect): add KongConsumerGroup reconciler
  CHANGELOG.md
  config/samples/konnect_kongconsumergroup.yaml
  controller/konnect/ops.go
  controller/konnect/ops_kongconsumergroup.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongconsumergroup.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
Labels: area/konnect
