Repository Kong/kong-operator, pull requests merged in 2024-05, with the labels that each got.

#95 tests: add helm upgrade tests
  config/manager/manager.yaml
  go.mod
  go.sum
  modules/cli/cli_test.go
  test/e2e/environment.go
  test/e2e/test_helm_install_upgrade.go
  test/e2e/test_operator_logs.go
  test/e2e/test_upgrade.go
  test/e2e/test_webhook.go
  test/helpers/setup.go
Labels: area/tests

#232 fix: fix DataPlane only kustomize for installing CRD
  Makefile
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/kustomization.yaml
Labels: area/crds

#243 tests: verify if Gateway's DataPlane Deployment is patched after upgrade
  Makefile
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests

#252 ci: add GITHUB_TOKEN in e2e tests to prevent rate limiting when querying GitHub API
  .github/workflows/tests.yaml
Labels: area/tests, area/ci

#248 chore: handle Gateway cleanup errors
  controller/controlplane/controller.go
  controller/gateway/controller.go
  controller/gateway/controller_cleanup.go
Labels: area/maintenance

#253 ci: add GITHUB_TOKEN in integration tests checking provisioning failed, to prevent rate limiting when querying GitHub API
  .github/workflows/tests.yaml
Labels: area/tests, area/ci

#256 ci: test samples on CI
  .github/workflows/tests.yaml
  Makefile
Labels: area/tests, area/ci

#241 feat(dataplane): add ExternalTrafficPolicy to ServiceOptions
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  controller/gateway/controller_reconciler_utils.go
  docs/api-reference.md
  pkg/utils/kubernetes/resources/services.go
  pkg/utils/kubernetes/resources/services_test.go
Labels: area/dataplane, area/crds

#263 chore(deps): bump sigs.k8s.io/gateway-api from 1.0.0 to 1.1.0 and other related deps
  .tools_versions.yaml
  Makefile
  config/crd/bases/gateway-operator.konghq.com_aigateways.yaml
  config/crd/bases/gateway-operator.konghq.com_controlplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_dataplanemetricsextensions.yaml
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/samples/aigateway.yaml
  controller/controlplane/controller_test.go
  controller/dataplane/controller_reconciler_utils_test.go
  controller/dataplane/controller_test.go
  controller/dataplane/controller_utils_test.go
  controller/gateway/controller_reconciler_utils_test.go
  controller/gateway/controller_test.go
  controller/gatewayclass/controller_test.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  modules/manager/scheme/scheme.go
  pkg/utils/test/clients.go
  pkg/utils/test/zz_generated_gateway_api.go
  test/conformance/conformance_test.go
  test/e2e/environment.go
Labels: dependencies, area/maintenance

#265 fix(conformance): fix panic for `make test.conformance`
  controller/gateway/controller.go
  pkg/utils/test/clients.go
  test/conformance/conformance_test.go
  test/conformance/suite_test.go
Labels: area/tests, area/conformance, area/maintenance

#276 chore: fix renovate config for config/samples/*.yaml
  config/samples/controlplane.yaml
  config/samples/dataplane-bluegreen-rollout.yaml
  config/samples/dataplane-horizontal-autoscaling.yaml
  config/samples/dataplane-konnect.yaml
  config/samples/dataplane-sidecar.yaml
  config/samples/dataplane-with-custom-ports.yaml
  config/samples/dataplane.yaml
  config/samples/gateway-httproute.yaml
  config/samples/gateway-with-gatewayconfiguration.yaml
  config/samples/gatewayconfiguration.yaml
  renovate.json
Labels: area/ci

#278 chore(ci): add renovate config for .tools_versions.yaml
  renovate.json
Labels: area/ci

#279 tests(conformance): enable `HTTPRouteResponseHeaderModification`
  go.mod
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#251 feat: fill in AttachedRoutes in Gateways' Listeners status
  CHANGELOG.md
  config/samples/gateway-httproute-allowedroutes.yaml
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  controller/gateway/controller_reconciler_utils_test.go
  controller/gateway/controller_watch.go
  controller/pkg/patch/patch.go
  internal/types/gatewaytypes.go
  pkg/utils/gateway/ownerrefs.go
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/managed-gateways

#286 tests: run GatewayWithAttachedRoutes from Gateway API conformance suite
  Makefile
  controller/gateway/controller_reconciler_utils.go
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance, area/managed-gateways

#290 fix: fix attachedRoutes calculation when sectionName does not match
  internal/types/gatewaytypes.go
  pkg/utils/gateway/ownerrefs.go
  pkg/utils/gateway/ownerrefs_test.go
Labels: area/gateway-api, area/conformance

#287 chore: migrate todos
  controller/controlplane/controller.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/bluegreen_controller_test.go
  controller/dataplane/controller_test.go
  controller/dataplane/controller_utils.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/owned_finalizer_controller.go
  controller/dataplane/owned_resources.go
  controller/pkg/address/address.go
  controller/pkg/controlplane/controlplane.go
  controller/pkg/secrets/cert.go
  controller/specialized/aigateway_controller.go
  controller/specialized/aigateway_controller_reconciler_owned_resources.go
  internal/utils/dataplane/config.go
  internal/versions/controlplane.go
  modules/manager/run.go
  pkg/consts/consts.go
  pkg/consts/controlplane.go
  pkg/consts/dataplane.go
  pkg/utils/kubernetes/resources/labels.go
  pkg/utils/kubernetes/resources/strategicmerge.go
  pkg/utils/kubernetes/volumes.go
  pkg/vars/gateway.go
  test/e2e/test_operator_logs.go
  test/integration/test_aigateway.go
  test/integration/test_gateway.go
Labels: area/maintenance

#289 tests: run conformance on CI
  .github/workflows/tests.yaml
  Makefile
  internal/metadata/metadata.go
  internal/types/gatewaytypes.go
  modules/manager/metadata/metadata.go
  test/conformance/conformance_test.go
Labels: area/tests, area/conformance

#298 tests(conformance): enable `HTTPRouteHostnameIntersection`
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#296 tests(conformance): enable `HTTPRouteObservedGenerationBump`
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#301 tests(conformance): enable `HTTPRouteListenerHostnameMatching`
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#307 chore: enable HTTPRouteHTTPSListener conf test
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#309 ci: use renovate for Gateway and KIC versions
  .github/ISSUE_TEMPLATE/---release.md
  internal/versions/controlplane.go
  pkg/consts/dataplane.go
  renovate.json
Labels: area/ci
