Repository Kong/kong-operator, pull requests merged in 2024-10, with the labels that each got.

#673 tests: refactor deploy helpers
  test/envtest/consts.go
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_cacertificate_test.go
  test/envtest/konnect_entities_certificate_test.go
  test/envtest/konnect_entities_key_test.go
  test/envtest/konnect_entities_keyset_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongvault_test.go
  test/envtest/konnect_entities_sni_test.go
  test/helpers/deploy/consts.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
Labels: area/tests

#676 feat(konnect): add support for `konghq.com/plugins` annotation on `KongConsumer`s
  CHANGELOG.md
  config/samples/konnect-kongservice-kongroute-kongconsumer-plugin-annotated.yaml
  controller/konnect/index_kongconsumer.go
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_kongplugin_combinations.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  controller/konnect/watch.go
  controller/konnect/watch_credentialacl.go
  controller/konnect/watch_kongtarget.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/reduce/reduce.go
  test/envtest/kongpluginbinding_managed_test.go
Labels: area/konnect

#663 feat(konnect): add KongKey - KongKeySet binding
  config/samples/konnect_kongkeyset.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/errors.go
  controller/konnect/index_kongkey.go
  controller/konnect/ops/ops_kongkey_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_keysetref.go
  controller/konnect/reconciler_keysetref_test.go
  controller/konnect/watch_kongkey.go
  modules/manager/controller_setup.go
  test/envtest/konnect_entities_key_test.go
  test/envtest/update_status.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#684 feat(konnect): add support for `konghq.com/plugins` annotation on `KongConsumerGroup`s
  CHANGELOG.md
  config/samples/konnect-kongservice-kongroute-kongconsumergroup-plugin-annotated.yaml
  controller/konnect/index_kongconsumergroup.go
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_kongplugin_combinations.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  modules/manager/controller_setup.go
  test/envtest/kongpluginbinding_managed_test.go
Labels: area/konnect

#685 feat(konnect): add indices for `KongPluginBinding` -> `KonnectGatewayControlPlane` and `KongRoute` -> `KongService`
  controller/konnect/index_kongpluginbinding.go
  controller/konnect/index_kongroute.go
  controller/konnect/watch_kongpluginbinding.go
  controller/konnect/watch_kongroute.go
Labels: area/konnect

#693 fix: fix SNI index used in watch
  controller/konnect/watch_kongsni.go
Labels: test-flake, area/tests

#692 tests: fix data race in KongConsumer data race tests
  controller/konnect/ops/ops_kongconsumer.go
Labels: test-flake, area/tests

#694 feat(konnect): add DataPlaneClientCertificate reconciler
  .golangci.yaml
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_kongdataplaneclientcertificate.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_kongdataplanecertificate.go
  controller/konnect/ops/kongdataplanecertificate.go
  controller/konnect/ops/kongdataplanecertificate_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongdataplaneclientcertificate.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_kongdataplanecertificate.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
  test/envtest/konnect_entities_dataplaneclientcertificate_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#674 deps: gateway API bumped to v1.2.0
  CHANGELOG.md
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  pkg/utils/test/zz_generated_gateway_api.go
  test/conformance/conformance_test.go
Labels: dependencies, area/gateway-api, blocked

#691 tests: fix helm upgrade test by correctly asserting whether KGO upgrades result in `DataPlane` image changes
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests

#696 tests: fix ControlPlane update in integration test
  test/integration/test_controlplane.go
Labels: test-flake, area/tests

#701 tests: fix HTTPRoute update in KongPluginInstallation integration test
  pkg/utils/test/predicates.go
  test/integration/test_kongplugininstallation.go
Labels: test-flake, area/tests

#687 feat(konnect): add `KongCredentialHMAC` reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_kongconsumer_hmac.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_hmac.go
  controller/konnect/ops/credentialhmac.go
  controller/konnect/ops/credentialhmac_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_credentialhmac.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_credential.go
  controller/konnect/watch_credentialhmac.go
  modules/manager/controller_setup.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#689 chore: adapt apidocs-gen script to use kconf definitions
  README.md
  api/v1alpha1/aigateway_cloud_providers.go
  api/v1alpha1/aigateway_endpoints.go
  api/v1alpha1/aigateway_llm_prompts.go
  api/v1alpha1/aigateway_types.go
  api/v1alpha1/dataplane_konnect_extension_types.go
  api/v1alpha1/dataplane_metrics_extension_types.go
  api/v1alpha1/extensionref_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/kongplugin_installation_types.go
  api/v1beta1/controlplane_types.go
  api/v1beta1/dataplane_types.go
  api/v1beta1/gatewayconfiguration_types.go
  api/v1beta1/shared_types.go
  docs/api-reference.md
  scripts/apidocs-gen/config.yaml
  scripts/apidocs-gen/generate.sh
  scripts/apidocs-gen/template/gv_details.tpl
  scripts/apidocs-gen/template/gv_list.tpl
  scripts/apidocs-gen/template/type.tpl
Labels: documentation, area/crds

#703 chore(build): use gcp on darwin
  scripts/apidocs-gen/generate.sh
Labels: area/maintenance, area/ci

#697 feat(konnect): allow setting ControlPlane group members
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_gatewaycontrolplane_group_assignment.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/ops/controlplane.go
  controller/konnect/ops/controlplanegroup.go
  controller/konnect/ops/controlplanegroup_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  docs/api-reference.md
  go.mod
  go.sum
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/konnect_entities_suite_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#704 feat(konnect): add finalizer handling for unmanaged KongPluginBindings for `KongConsumer` and `KongConsumerGroup`
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  modules/manager/controller_setup.go
  test/envtest/kongplugincleanupfinalizer_test.go
Labels: area/konnect

#712 test: add envtest case for KongTarget
  test/envtest/konnect_entities_target_test.go
  test/envtest/update_status.go
Labels: area/tests, area/konnect

#707 feat(konnect): add indices for Konnect entities
  controller/konnect/index_kongcacertificate.go
  controller/konnect/index_kongcertificate.go
  controller/konnect/index_kongconsumergroup.go
  controller/konnect/index_kongkey.go
  controller/konnect/index_kongkeyset.go
  controller/konnect/index_kongvault.go
  controller/konnect/index_konnectgatewaycontrolplane.go
  controller/konnect/watch_credentialacl.go
  controller/konnect/watch_credentialapikey.go
  controller/konnect/watch_credentialbasicauth.go
  controller/konnect/watch_credentialhmac.go
  controller/konnect/watch_credentialjwt.go
  controller/konnect/watch_kongcacertificate.go
  controller/konnect/watch_kongcertificate.go
  controller/konnect/watch_kongconsumergroup.go
  controller/konnect/watch_kongkeyset.go
  controller/konnect/watch_kongsni.go
  controller/konnect/watch_kongvault.go
  controller/konnect/watch_konnectcontrolplane.go
  modules/manager/controller_setup.go
Labels: area/konnect

#715 chore(refactor): do not hardcode certs for tests
  test/helpers/deploy/consts.go
Labels: area/tests, area/maintenance

#711 fix: do not reconcile gateways with unsupported gw class
  CHANGELOG.md
  controller/gateway/controller.go
  controller/gateway/controller_cleanup.go
  controller/gateway/controller_consts.go
  controller/gateway/controller_reconciler_utils.go
  controller/gateway/controller_test.go
  controller/gateway/controller_watch.go
  controller/specialized/aigateway_controller.go
  controller/specialized/aigateway_controller_reconciler_utils.go
  controller/specialized/aigateway_controller_watch.go
  internal/errors/errors.go
  internal/utils/gatewayclass/get.go
  internal/utils/gatewayclass/get_test.go
Labels: area/gateway-api

#717 chore: remove Konnect conditions and use kconf-sourced
  controller/konnect/conditions/conditions.go
  controller/konnect/ops/conditions.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongservice_test.go
  controller/konnect/ops/ops_kongupstream_test.go
  controller/konnect/ops/ops_kongvault_test.go
  controller/konnect/reconciler_certificateref.go
  controller/konnect/reconciler_certificateref_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_keysetref.go
  controller/konnect/reconciler_keysetref_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_serviceref.go
  controller/konnect/reconciler_serviceref_test.go
  controller/konnect/reconciler_upstreamref.go
  controller/konnect/reconciler_upstreamref_test.go
  docs/api-reference.md
  go.mod
  go.sum
  pkg/utils/kubernetes/reduce/filters.go
  scripts/apidocs-gen/generate.sh
  test/envtest/konnect_entities_cacertificate_test.go
  test/envtest/konnect_entities_certificate_test.go
  test/envtest/konnect_entities_dataplaneclientcertificate_test.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/konnect_entities_key_test.go
  test/envtest/konnect_entities_keyset_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongvault_test.go
  test/envtest/konnect_entities_sni_test.go
  test/envtest/update_status.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
Labels: area/maintenance, area/konnect

#719 tests(konnect): fix flaky KongConsumerCredential tests
  test/envtest/assert.go
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
Labels: test-flake, area/tests

#716 fix(konnect): fix reconciling entities when they got created on Konnect but an error was returned
  controller/konnect/index_konnectgatewaycontrolplane.go
  controller/konnect/ops/ops.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch_konnectcontrolplane.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
Labels: area/konnect

#722 chore(konnect): rely on CEL rules to validate server url
  config/crd/bases/gateway-operator.konghq.com_dataplanekonnectextensions.yaml
  controller/konnect/ops/server_url.go
  controller/konnect/ops/server_url_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_konnectapiauth_test.go
  docs/api-reference.md
  go.mod
  go.sum
Labels: area/konnect

#725 tests: fix TestKonnectEntityReconcilers for KonnectGatewayControlPlane
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
Labels: area/tests

#728 tests: fix TestKongConsumerCredential_* tests by using correct testing handle
  test/envtest/assert.go
Labels: test-flake, area/tests

#714 feat: dataplane konnect extension reconciler
  CHANGELOG.md
  api/v1alpha1/dataplane_konnect_extension_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway-operator.konghq.com_dataplanekonnectextensions.yaml
  config/rbac/role/role.yaml
  controller/dataplane/controller.go
  controller/dataplane/controller_rbac.go
  controller/dataplane/controller_utils.go
  controller/dataplane/dataplanekonnectextension_controller.go
  controller/dataplane/dataplanekonnectextension_rbac.go
  controller/dataplane/konnect_extension.go
  controller/dataplane/konnect_extension_test.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/watch.go
  docs/api-reference.md
  internal/utils/dataplane/config.go
  internal/utils/dataplane/config_test.go
  internal/utils/dataplane/env.go
  internal/utils/index/index.go
  modules/manager/controller_setup.go
  pkg/consts/consts.go
  pkg/consts/dataplane.go
  pkg/consts/status.go
  pkg/utils/kubernetes/resources/deployments.go
Labels: area/konnect, area/konnect-DPs

#743 chore(rbac) add permission to update kongpluginbindings/status
  config/rbac/role/role.yaml
  controller/konnect/reconciler_kongplugin_rbac.go
Labels: area/crds, area/konnect

#747 chore(rbac): remove get status rbac permission for konnect entities
  config/rbac/role/role.yaml
  controller/konnect/reconciler_generic_rbac.go
Labels: area/konnect

#745 feat(konnect): make KonnectGatewayControlPlane creation more robust
  controller/konnect/ops/controlplane.go
  controller/konnect/ops/controlplane_mock.go
  controller/konnect/ops/errors.go
  controller/konnect/ops/objects_metadata.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  pkg/consts/status.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_suite_test.go
Labels: area/konnect

#749 fix: handle KongService conflict on creation
  controller/konnect/ops/kongservice.go
  controller/konnect/ops/kongservice_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongservice_test.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongsni_test.go
  test/envtest/konnect_entities_kongtarget_test.go
Labels: area/konnect

#751 fix: handle KongSNI conflict on creation
  controller/konnect/ops/kongsni.go
  controller/konnect/ops/kongsni_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongsni.go
Labels: area/konnect

#753 fix(konnect): handle conflicts when creating consumers
  controller/konnect/ops/kongconsumer.go
  controller/konnect/ops/kongconsumer_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongconsumer.go
  pkg/consts/status.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: area/konnect

#752 fix(konnect): handle KongRoute conflict on creation
  controller/konnect/ops/kongroute.go
  controller/konnect/ops/kongroute_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongsni.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_suite_test.go
  test/envtest/setup.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#754 fix(konnect): handle KongConsumerGroup conflict on creation
  .golangci.yaml
  controller/konnect/ops/kongconsumergroup.go
  controller/konnect/ops/kongconsumergroup_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  controller/konnect/ops/ops_kongroute.go
  modules/manager/controller_setup.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongvault_test.go
Labels: area/konnect

#755 fix: handle KeySet creation conflicts
  controller/konnect/ops/kongkeyset.go
  controller/konnect/ops/kongkeyset_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongkeyset.go
  test/envtest/konnect_entities_kongkeyset_test.go
Labels: area/konnect

#758 fix: handle Key creation conflicts
  controller/konnect/ops/kongkey.go
  controller/konnect/ops/kongkey_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongkey.go
  test/envtest/konnect_entities_kongkey_test.go
Labels: area/konnect

#756 fix(konnect): handle KongUpstream conflict on creation
  controller/konnect/ops/kongupstream.go
  controller/konnect/ops/kongupstream_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_credentialacl.go
  controller/konnect/ops/ops_credentialapikey.go
  controller/konnect/ops/ops_credentialbasicauth.go
  controller/konnect/ops/ops_credentialhmac.go
  controller/konnect/ops/ops_credentialjwt.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  controller/konnect/ops/ops_kongdataplaneclientcertificate.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongkeyset.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongservice_test.go
  controller/konnect/ops/ops_kongsni.go
  controller/konnect/ops/ops_kongtarget.go
  controller/konnect/ops/ops_kongupstream.go
  controller/konnect/ops/ops_kongupstream_test.go
  controller/konnect/ops/ops_kongvault.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/konnect_entities_kongupstream_test.go
Labels: area/konnect

#757 fix(konnect): handle KongTarget conflict on creation
  controller/konnect/ops/kongtarget.go
  controller/konnect/ops/kongtarget_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongtarget.go
Labels: area/konnect

#759 fix: handle KongVault creation conflicts
  controller/konnect/ops/kongvault.go
  controller/konnect/ops/kongvault_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongvault.go
  controller/konnect/ops/ops_kongvault_test.go
  test/envtest/konnect_entities_kongvault_test.go
Labels: area/konnect

#760 refactor(konnect): add handleDeleteError to uniformly handle delete errors
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_credentialacl.go
  controller/konnect/ops/ops_credentialapikey.go
  controller/konnect/ops/ops_credentialbasicauth.go
  controller/konnect/ops/ops_credentialhmac.go
  controller/konnect/ops/ops_credentialjwt.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  controller/konnect/ops/ops_kongdataplaneclientcertificate.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongkeyset.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongtarget.go
  controller/konnect/ops/ops_kongupstream.go
  controller/konnect/ops/ops_kongvault.go
Labels: area/maintenance, area/konnect

#761 fix(konnect): handle conflicts on create for credential types
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_credentialacl.go
  controller/konnect/ops/ops_credentialapikey.go
  controller/konnect/ops/ops_credentialbasicauth.go
  controller/konnect/ops/ops_credentialhmac.go
  controller/konnect/ops/ops_credentialjwt.go
  controller/konnect/ops/sdk/credentialacl.go
  controller/konnect/ops/sdk/credentialapikey.go
  controller/konnect/ops/sdk/credentialbasicauth.go
  controller/konnect/ops/sdk/credentialhmac.go
  controller/konnect/ops/sdk/credentialjwt.go
  controller/konnect/ops/sdk/mocks/zz_generated.credentialacl_mock.go
  controller/konnect/ops/sdk/mocks/zz_generated.credentialapikey_mock.go
  controller/konnect/ops/sdk/mocks/zz_generated.credentialbasicauth_mock.go
  controller/konnect/ops/sdk/mocks/zz_generated.credentialhmac_mock.go
  controller/konnect/ops/sdk/mocks/zz_generated.credentialjwt_mock.go
  test/envtest/errors.go
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
Labels: area/konnect

#763 fix(konnect): handle Certificate creation conflicts
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/sdk/kongcertificate.go
  controller/konnect/ops/sdk/mocks/zz_generated.kongcertificate_mock.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#765 fix(konnect): make setting status conditions not update on every reconciliation
  controller/controlplane/controller_reconciler_utils.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/owned_resources.go
  controller/gateway/controller.go
  controller/konnect/reconciler_certificateref.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_keysetref.go
  controller/konnect/reconciler_keysetref_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_serviceref.go
  controller/konnect/reconciler_upstreamref.go
  controller/pkg/patch/patch.go
  controller/pkg/patch/patch_test.go
  controller/pkg/patch/statuscondition.go
  controller/pkg/patch/statuscondition_test.go
  go.mod
  go.sum
  pkg/utils/test/consts.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#769 fix(konnect): handle CACertificate creation conflicts
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/sdk/kongcacertificate.go
  controller/konnect/ops/sdk/mocks/zz_generated.kongcacertificate_mock.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#775 fix(konnect): truncate tags and labels to max allowed length
  controller/konnect/ops/objects_metadata.go
  controller/konnect/ops/objects_metadata_test.go
Labels: area/konnect

#780 chore(deps): bump kong/kubernetes-configuration
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  docs/api-reference.md
  go.mod
  go.sum
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
Labels: dependencies

#781 chore(ci): pass Konnect PAT to release workflow
  .github/workflows/__release-workflow.yaml
  .github/workflows/release.yaml
Labels: area/ci

#783 chore(ci): re-enable DOCKER_BUILD_SUMMARY
  .github/workflows/__build-workflow.yaml
Labels: docker, area/maintenance, area/ci

#784 chore(ci): collect diagnostics in release workflow
  .github/workflows/__release-workflow.yaml
  go.mod
  go.sum
Labels: area/ci

#789 chore(ci): add optional step fetching Kong EE license in release workflow
  .github/workflows/__release-workflow.yaml
Labels: area/ci

#787 chore(konnect): do not handle upsert errors
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_credentialacl.go
  controller/konnect/ops/ops_credentialapikey.go
  controller/konnect/ops/ops_credentialbasicauth.go
  controller/konnect/ops/ops_credentialhmac.go
  controller/konnect/ops/ops_credentialjwt.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongdataplaneclientcertificate.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongkeyset.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongservice_test.go
  controller/konnect/ops/ops_kongsni.go
  controller/konnect/ops/ops_kongupstream.go
  controller/konnect/ops/ops_kongupstream_test.go
  controller/konnect/ops/ops_kongvault.go
  controller/konnect/ops/ops_kongvault_test.go
Labels: area/konnect

#792 fix(konnect): don't block deletion when entity has no Konnect ID and is not Programmed
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_test.go
Labels: area/konnect

#796 feat(konnect): handle BadRequest errors and other unrecoverable errors to prevent endless reconciliation
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_test.go
Labels: area/konnect

#798 fix(konnect): add missing index options
  modules/manager/controller_setup.go
Labels: area/konnect

#800 Fix(rbac): add permission of deleting KongRoute in RBAC
  config/rbac/role/role.yaml
  controller/konnect/reconciler_generic_rbac.go
Labels: area/konnect

#801 chore: parallel k8sio go.mod replace update script
  hack/update-k8sio-gomod-replace.sh
Labels: dependencies

#805 fix(konnect): do not manage finalizers and lifecycle for unmanaged KongPluginBindings
  controller/konnect/plugins.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  controller/konnect/watch_kongplugin.go
  test/envtest/assert.go
  test/envtest/consts.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_kongroute_test.go
Labels: area/konnect

#807 tests(envtest): fix Konnect envtests sdk assertions
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_kongsni_test.go
  test/envtest/konnect_entities_kongtarget_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_kongvault_test.go
Labels: area/tests

#810 Fix(konnect): reject reconciliation for incompatible cluster type of control plane
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_controlplaneref_test.go
  controller/konnect/reconciler_generic.go
Labels: area/konnect

#812 fix(dataplane): do not set ExternalTrafficPolicy for ClusterIP services
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  controller/dataplane/owned_resources.go
  pkg/utils/kubernetes/resources/services.go
  pkg/utils/kubernetes/resources/services_test.go
Labels: area/dataplane

#816 refactor(konnect): add enqueueObjectForKonnectGatewayControlPlane to generically list objects that refer to KonnectGatewayControlPlane
  controller/konnect/watch.go
  controller/konnect/watch_kongcacertificate.go
  controller/konnect/watch_kongcertificate.go
  controller/konnect/watch_kongconsumer.go
  controller/konnect/watch_kongconsumergroup.go
  controller/konnect/watch_kongdataplanecertificate.go
  controller/konnect/watch_kongkey.go
  controller/konnect/watch_kongkeyset.go
  controller/konnect/watch_kongpluginbinding.go
  controller/konnect/watch_kongservice.go
  controller/konnect/watch_kongupstream.go
  controller/konnect/watch_kongvault.go
Labels: area/konnect

#818 chore: prepare release v1.4.0-rc.1
  CHANGELOG.md
Labels: area/release

#819 chore(ci): fix condition for getting Kong license
  .github/workflows/__release-workflow.yaml
Labels: area/ci

#822 konnect: allow customizing max concurrent reconciles
  controller/konnect/reconciler_generic.go
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/controller_setup.go
  modules/manager/run.go
  pkg/consts/consts.go
Labels: area/konnect

#826 chore: konnect ops cleanup
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongdataplaneclientcertificate.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongkeyset.go
Labels: area/maintenance

#831 chore(ci): add envtest to requirements for CI to pass
  .github/workflows/tests.yaml
Labels: area/ci

#835 docs: update release issue template
  .github/ISSUE_TEMPLATE/---release.md
Labels: documentation

#834 chore: prepare v1.4.0 release
  CHANGELOG.md
Labels: area/release
