Repository Kong/kong-operator, pull requests merged in 2024-06, with the labels that each got.

#311 chore(ci): fix renovate regex
  renovate.json
Labels: area/ci

#314 tests(conformance): run conformance against expressions and traditional_compatible router flavors
  .github/workflows/tests.yaml
  test/conformance/conformance_test.go
  test/conformance/router_flavor.go
Labels: area/tests, area/gateway-api, area/conformance

#321 chore: report name changed
  .gitignore
  Makefile
  pkg/utils/test/setup_helpers.go
  pkg/utils/test/zz_generated_gateway_api.go
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#323 chore: fix renovate config
  renovate.json
Labels: area/maintenance, area/ci

#326 feat: detect when ControlPlane's admission webhook is disabled and ensure relevant resources do not exist
  CHANGELOG.md
  config/samples/gateway-with-disabled-controlplane-admission-webhook.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/controlplane/controller_utils_test.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/bluegreen_controller_test.go
  controller/dataplane/controller.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/owned_resources.go
  controller/dataplane/owned_resources_test.go
  controller/gateway/controller_test.go
  controller/gateway/controller_watch.go
  controller/pkg/controlplane/controlplane.go
  controller/pkg/op/operation_result.go
  controller/pkg/patch/patch.go
  controller/pkg/patch/patch_test.go
  controller/pkg/secrets/cert.go
  controller/pkg/secrets/cert_test.go
  pkg/consts/controlplane.go
  pkg/utils/kubernetes/resources/deployments.go
  pkg/utils/kubernetes/resources/deployments_test.go
Labels: area/controlplane

#300 tests(conformance): enable `HTTPRouteInvalidBackendRefUnknownKind`
  .github/workflows/tests.yaml
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#335 conformance: support HTTPRouteMethodMatching
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#336 conformance: support HTTPRouteQueryParamMatching
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance, blocked

#337 conformance: support `HTTPRoutePathRewrite` and `HTTPRouteHostRewrite`
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#338 test: GatewayInvalidTLSConfiguration conformance
  controller/gateway/controller_reconciler_utils.go
  controller/gateway/controller_reconciler_utils_test.go
  controller/pkg/secrets/cert.go
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#343 chore: update shared CI workflows
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
Labels: area/maintenance, area/ci

#339 test: gatewayPort8080 conformance
  controller/gateway/controller_reconciler_utils.go
  test/conformance/conformance_test.go
Labels: area/gateway-api, area/conformance

#344 chore: fix version verify script
  .github/workflows/tests.yaml
  scripts/verify-version.sh
Labels: area/ci

#347 chore: update shared release workflow
  .github/workflows/__release-workflow.yaml
Labels: area/maintenance, area/ci

#348 chore(ci): fix build pipeline
  .github/workflows/__build-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
Labels: area/maintenance, area/ci

#351 chore(ci): fix main build pipeline
  .github/workflows/__build-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#352 tests: do not FailNow() when helm upgrade test's assertion fails
  test/e2e/test_helm_install_upgrade.go
Labels: test-flake, area/tests

#355 tests: add E2E_TEST_TIMEOUT variable for specifying e2e test suite timeout
  Makefile
Labels: area/tests

#366 docs(changelog) update changelog to 1.3.0
  CHANGELOG.md
Labels: documentation

#368 fix: properly extract version minor in release bot
  .github/workflows/release-bot.yaml
Labels: area/ci

#374 chore: perform go mod download in shared build-workflow
  .github/workflows/__build-workflow.yaml
Labels: area/release, area/maintenance, area/ci

#375 test(e2e) update e2e upgrade test for release 1.3.0
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests
