Repository Kong/kong-operator, pull requests merged in 2024-11, with the labels that each got.

#836 fix(konnect): when no members are set on CP group then set 0 members in Konnect
  controller/konnect/ops/conditions.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
Labels: area/konnect

#842 tests: add logs to KPI integration test
  test/integration/test_kongplugininstallation.go
Labels: test-flake, area/tests

#838 tests: bump version in e2e upgrade tests
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests

#844 chore: configure renovate to update upgrade test deps
  .github/ISSUE_TEMPLATE/---release.md
  renovate.json
  test/e2e/test_helm_install_upgrade.go
Labels: dependencies

#845 docs(release): mention adding PM to retro meeting
  .github/ISSUE_TEMPLATE/---release.md
Labels: documentation

#848 refactor: drop rawObj parameter from logger's methods
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/controller.go
  controller/dataplane/controller_reconciler_utils.go
  controller/dataplane/controller_utils.go
  controller/dataplane/konnectextension_controller.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/owned_finalizer_controller.go
  controller/gateway/controller.go
  controller/gateway/controller_cleanup.go
  controller/gateway/controller_watch.go
  controller/gatewayclass/controller.go
  controller/kongplugininstallation/controller.go
  controller/konnect/ops/ops.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/watch_kongplugin.go
  controller/konnect/watch_kongpluginbinding.go
  controller/pkg/log/log.go
  controller/pkg/patch/patch.go
  controller/pkg/secrets/cert_test.go
  controller/specialized/aigateway_controller.go
  controller/specialized/aigateway_controller_reconciler_owned_resources.go
Labels: area/maintenance

#860 tests: fix data race in TestKonnectEntities
  test/integration/test_konnect_entities.go
Labels: test-flake, area/tests

#859 chore(deps): bump kong/kubernetes-configuration to v0.0.43
  Makefile
  controller/konnect/ops/ops_kongroute_test.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  controller/konnect/reconciler_serviceref_test.go
  docs/api-reference.md
  go.mod
  go.sum
  hack/generators/go.mod
  pkg/utils/test/setup_helpers.go
  test/envtest/setup.go
  test/helpers/deploy/deploy_resources.go
Labels: dependencies

#856 fix(dataplane): properly default deprecated service account name
  CHANGELOG.md
  pkg/utils/kubernetes/resources/strategicmerge.go
  pkg/utils/kubernetes/resources/strategicmerge_test.go
Labels: area/dataplane

#867 chore(linter): enable all go-vet rules
  .golangci.yaml
  controller/dataplane/owned_deployment.go
Labels: area/maintenance, area/ci

#865 fix(dataplane): fix setting ExternalTrafficPolicy on ingress service
  CHANGELOG.md
  controller/dataplane/owned_resources.go
  controller/dataplane/owned_resources_test.go
  controller/pkg/builder/builder.go
  test/integration/test_dataplane.go
Labels: area/dataplane

#882 chore(generators): make file naming uniform zz_generated.*
  .gitattributes
  Makefile
  hack/generators/kic/role-generator/main.go
  hack/generators/kic/role-generator/templates.go
  hack/generators/kic/webhook-config-generator/main.go
  hack/generators/testcases-registration/main.go
  pkg/utils/kubernetes/resources/clusterroles/doc.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_1_lt3_2.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_2_lt3_3.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_3.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_1_lt3_2.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_2_lt3_3.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_3.go
  pkg/utils/kubernetes/resources/validatingwebhookconfig/zz_generated.kic_ge3_1_lt3_2.go
  pkg/utils/kubernetes/resources/validatingwebhookconfig/zz_generated.kic_ge3_2_lt3_3.go
  pkg/utils/kubernetes/resources/validatingwebhookconfig/zz_generated.kic_ge3_3.go
  pkg/utils/kubernetes/resources/validatingwebhookconfig/zz_generated_kic_ge3_1.go
  pkg/utils/kubernetes/resources/validatingwebhookconfig/zz_generated_kic_ge3_2.go
  pkg/utils/kubernetes/resources/zz_generated.clusterrole_helpers.go
  pkg/utils/kubernetes/resources/zz_generated.kic_validatingwebhookconfig.go
  pkg/utils/test/zz_generated.gateway_api.go
  test/integration/zz_generated.registered_testcases.go
Labels: area/maintenance

#881 chore: enhance KongPluginInstallation example and document tests
  config/samples/gateway-httproute.yaml
  config/samples/gateway-kongplugininstallation-httproute.yaml
  controller/kongplugininstallation/image/image_test.go
  hack/plugin-images/README.md
  hack/plugin-images/invalid-layers.Dockerfile
  hack/plugin-images/invalid-name.Dockerfile
  hack/plugin-images/invalid-size-combined.Dockerfile
  hack/plugin-images/invalid-size-one.Dockerfile
  hack/plugin-images/missing-file.Dockerfile
  hack/plugin-images/myheader-2.Dockerfile
  hack/plugin-images/myheader.Dockerfile
  hack/plugin-images/myheader/handler.lua
  hack/plugin-images/myheader/schema.lua
  test/integration/test_kongplugininstallation.go
  test/integration/utils.go
Labels: enhancement, area/tests

#895 chore(ci): run tests for release branch PRs
  .github/workflows/tests.yaml
Labels: area/ci

#896 fix(konnect): when no members are set on CP group then set 0 members in Konnect (#836)
  controller/konnect/ops/conditions.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  go.mod
  go.sum
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
Labels: area/konnect

#890 fix(konnect): fix panic in KonnectAPIAuthConfigurationReconciler
  CHANGELOG.md
  controller/gateway/controller.go
  controller/konnect/reconciler_konnectapiauth.go
  pkg/utils/kubernetes/status.go
  pkg/utils/kubernetes/status_test.go
  test/envtest/controller.go
  test/envtest/konnect_entities_konnectapiauthconfiguration_test.go
Labels: area/konnect

#905 tests: add installing ingress-controller CRDs in integration tests
  pkg/utils/test/setup_helpers.go
Labels: area/tests
