Repository Kong/kong-operator, pull requests merged in 2024-09, with the labels that each got.

#537 tests: add Konnect entities integration test
  .github/workflows/tests.yaml
  Makefile
  config/debug/manager_debug.yaml
  config/dev/manager_dev.yaml
  config/rbac/role/role.yaml
  controller/konnect/index_kongpluginbinding.go
  controller/konnect/reconciler_generic_rbac.go
  pkg/utils/test/clients.go
  pkg/utils/test/setup_helpers.go
  test/envvars.go
  test/integration/suite.go
  test/integration/test_konnect_entities.go
  test/integration/zz_generated_registered_testcases.go
Labels: area/tests

#546 chore(crd): bump `Kong/kubernetes-configuration` and change `KonnectControlPlane` to `KonnectGatewayControlPlane`
  config/rbac/role/role.yaml
  config/samples/konnect-kongpluginbinding.yaml
  config/samples/konnect_kongconsumer.yaml
  config/samples/konnect_kongconsumergroup.yaml
  config/samples/konnect_kongroute.yaml
  config/samples/konnect_kongservice.yaml
  controller/konnect/constraints.go
  controller/konnect/errors.go
  controller/konnect/ops.go
  controller/konnect/ops_controlplane.go
  controller/konnect/ops_kongconsumer.go
  controller/konnect/ops_kongconsumergroup.go
  controller/konnect/ops_kongpluginbinding.go
  controller/konnect/ops_kongroute.go
  controller/konnect/ops_kongservice.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongconsumer.go
  controller/konnect/watch_kongconsumergroup.go
  controller/konnect/watch_kongpluginbinding.go
  controller/konnect/watch_kongroute.go
  controller/konnect/watch_kongservice.go
  controller/konnect/watch_konnectcontrolplane.go
  controller/konnect/watch_test.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
  test/integration/test_konnect_entities.go
Labels: area/crds, area/konnect

#507 refactor(konnect): add SDK interface types and theirs mocks
  .gitattributes
  .golangci.yaml
  .mockery.yaml
  .tools_versions.yaml
  Makefile
  controller/konnect/conditions/conditions.go
  controller/konnect/constraints/constraints.go
  controller/konnect/constraints/entitytypename.go
  controller/konnect/entitytypename.go
  controller/konnect/errors.go
  controller/konnect/index.go
  controller/konnect/ops/controlplane.go
  controller/konnect/ops/controlplane_mock_test.go
  controller/konnect/ops/errors.go
  controller/konnect/ops/kongconsumer.go
  controller/konnect/ops/kongconsumergroup.go
  controller/konnect/ops/kongroute.go
  controller/konnect/ops/kongservice.go
  controller/konnect/ops/kongservice_mock_test.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/ops/ops_kongconsumergroup.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/ops/ops_kongservice.go
  controller/konnect/ops/ops_kongservice_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/sdkfactory.go
  controller/konnect/watch.go
  controller/konnect/watch_test.go
  go.mod
  test/integration/test_konnect_entities.go
Labels: area/tests, area/konnect

#543 test(konnect): Add SDKWrapper to allow using mock SDK in reconcilers
  .golangci.yaml
  .mockery.yaml
  controller/konnect/ops/controlplane_mock.go
  controller/konnect/ops/kongconsumer_mock.go
  controller/konnect/ops/kongconsumergroup_mock.go
  controller/konnect/ops/kongroute_mock.go
  controller/konnect/ops/kongservice_mock.go
  controller/konnect/ops/me.go
  controller/konnect/ops/me_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/plugin.go
  controller/konnect/ops/plugin_mock.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/sdkfactory.go
  modules/manager/controller_setup.go
Labels: area/tests

#559 fix: prevent duplicate controller keys
  modules/manager/controller_setup.go
Labels: area/konnect

#560 chore: improve basic reconciliation for KongPluginInstallation
  CHANGELOG.md
  Makefile
  controller/kongplugininstallation/controller.go
  pkg/consts/kongplugininstallation.go
  pkg/utils/kubernetes/resources/annotations.go
  pkg/utils/kubernetes/resources/labels.go
  test/integration/test_kongplugininstallation.go
Labels: enhancement

#558 test: add remaining konnect entities integration
  Makefile
  config/samples/konnect-kongpluginbinding.yaml
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/reconciler_generic.go
  go.mod
  go.sum
  pkg/utils/test/clients.go
  test/integration/test_konnect_entities.go
Labels: area/tests, area/konnect

#561 test: extract version from go.mod
  go.mod
  pkg/utils/test/projectroot.go
  pkg/utils/test/setup_helpers.go
Labels: area/tests, area/crds

#569 tests: run KonnectEntityReconciler envtest tests in parallel
  test/envtest/reconciler_setupwithmanager_test.go
Labels: area/tests

#574 tests: use mock constructors
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_kongservice_test.go
Labels: area/tests

#573 test(envtest): set mock SDK to test creating control plane
  controller/konnect/ops/sdkfactory_mock.go
  test/envtest/reconciler_setupwithmanager_test.go
Labels: area/tests

#579 tests: enforce passing t to NewMockSDKFactory
  controller/konnect/ops/sdkfactory_mock.go
  test/envtest/reconciler_setupwithmanager_test.go
Labels: area/tests

#587 chore: bump k8s libs to 1.31.1
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
Labels: area/maintenance

#550 Konnect entities: `KongPlugin` reconciler
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect-kongservice-plugin-annotated.yaml
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_kongplugin_rbac.go
  controller/konnect/watch_kongplugin.go
  controller/konnect/watch_kongpluginbinding.go
  controller/specialized/aigateway_controller_utils.go
  modules/manager/controller_setup.go
  pkg/consts/kic.go
  pkg/consts/konnect.go
  pkg/utils/test/clients.go
  test/integration/test_kongplugin.go
  test/integration/zz_generated_registered_testcases.go
Labels: area/konnect

#603 chore: get rid of dependency to KIC
  README.md
  controller/specialized/aigateway_controller_reconciler_owned_resources.go
  controller/specialized/aigateway_controller_utils.go
  go.mod
  go.sum
Labels: dependencies, area/maintenance

#607 chore(konnect): segregate entities envtests file by type
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/konnect_entities_suite_test.go
Labels: area/tests, area/konnect

#612 chore(gatewayapi): requeue without error if GatewayClass update results in a conflict
  CHANGELOG.md
  controller/consts.go
  controller/controlplane/controller.go
  controller/gateway/controller_cleanup.go
  controller/gatewayclass/controller.go
  controller/webhook_manager_rbac.go
Labels: area/gateway-api

#609 tests: fix TestGatewayDataPlaneNetworkPolicy
  test/helpers/envs/env.go
  test/helpers/envs/env_test.go
  test/integration/test_gateway.go
  test/integration/utils.go
Labels: area/tests

#611 refactor(konnect): extract KongPluginBinding finalizer handling to a dedicated reconciler
  config/rbac/role/role.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer_rbac.go
  controller/konnect/reconciler_kongplugin.go
  modules/manager/controller_setup.go
  test/envtest/consts.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_suite_test.go
  test/envtest/setup.go
Labels: area/konnect

#614 chore(refactor): extract and make generic checking `ReferenceGrant` for `Secret`
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  controller/gateway/controller_reconciler_utils_test.go
  controller/gateway/controller_watch.go
  controller/pkg/secrets/ref/ref.go
  controller/pkg/secrets/ref/ref_test.go
Labels: enhancement, area/maintenance

#615 feat: require ReferenceGrant for Secrets referenced by KongPluginInstallation
  CHANGELOG.md
  api/v1alpha1/kongplugin_installation_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway-operator.konghq.com_kongplugininstallations.yaml
  controller/kongplugininstallation/controller.go
  docs/api-reference.md
  test/integration/test_kongplugininstallation.go
Labels: enhancement, area/feature

#625 feat(konnect): add support for basic auth credentials for consumers
  .mockery.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongconsumer_basicauth.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/constraints/constraints.go
  controller/konnect/errors.go
  controller/konnect/index.go
  controller/konnect/index_credentials_basicauth.go
  controller/konnect/ops/credentialbasicauth.go
  controller/konnect/ops/credentialbasicauth_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_credentialbasicauth.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/watch.go
  controller/konnect/watch_credentialbasicauth.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/konnect_entities_suite_test.go
Labels: area/konnect

#626 feat(konnect): add KongCACertificate reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_cacertificate.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/kongcacertificate.go
  controller/konnect/ops/kongcacertificate_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongcacertificate.go
  controller/konnect/ops/ops_kongcacertificate_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_kongcacertificate.go
  controller/konnect/watch_test.go
  modules/manager/controller_setup.go
  test/envtest/consts.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_cacertificate_test.go
  test/envtest/konnect_entities_suite_test.go
Labels: area/konnect

#592 feat(konnect): assign KongConsumers to KongConsumerGroups
  CHANGELOG.md
  config/samples/konnect_kongconsumergroup.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/index.go
  controller/konnect/index_kongconsumer.go
  controller/konnect/ops/kongconsumergroup.go
  controller/konnect/ops/kongconsumergroup_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongconsumer.go
  controller/konnect/watch_kongconsumer.go
  go.sum
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#627 feat(konnect): KongTarget reconciler
  .mockery.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongtarget.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/constraints/constraints.go
  controller/konnect/errors.go
  controller/konnect/ops/kongtarget.go
  controller/konnect/ops/kongtarget_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongtarget.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_upstreamref.go
  controller/konnect/reconciler_upstreamref_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongtarget.go
  modules/manager/controller_setup.go
  test/integration/test_konnect_entities.go
Labels: area/crds, area/konnect

#476 feat: allow assigning KongPluginInstallation to GatewayConfiguration and DataPlane
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  api/v1beta1/gatewayconfiguration_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/samples/gateway-kongplugininstallation-httproute.yaml
  controller/dataplane/controller.go
  controller/dataplane/controller_conditions.go
  controller/dataplane/controller_reconciler_utils.go
  controller/dataplane/owned_custom_plugins.go
  controller/dataplane/owned_custom_plugins_test.go
  controller/dataplane/watch.go
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  controller/kongplugininstallation/controller.go
  docs/api-reference.md
  internal/utils/dataplane/config.go
  pkg/consts/kongplugininstallation.go
  pkg/utils/kubernetes/resources/annotations.go
  pkg/utils/test/clients.go
  test/integration/test_kongplugininstallation.go
Labels: enhancement, area/feature

#597 feat(konnect): add KongVault reconciler
  .mockery.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongvault.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/kongvault.go
  controller/konnect/ops/kongvault_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongvault.go
  controller/konnect/ops/ops_kongvault_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/watch.go
  controller/konnect/watch_kongvault.go
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_kongvault_test.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#635 feat(konnect): add KongCredentialAPIKey reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_kongconsumer_apikey.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_apikey.go
  controller/konnect/ops/credentialapikey.go
  controller/konnect/ops/credentialapikey_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_credentialapikey.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_credentialapikey.go
  modules/manager/controller_setup.go
  test/envtest/kongconsumercredential_basicauth_test.go
Labels: area/konnect

#644 feat(konnect): make KongPlugin reconciler create KongPluginBindings for plugins attached to KongRoutes and KongServices
  CHANGELOG.md
  config/samples/konnect-kongpluginbinding-kongservice-kongroute.yaml
  config/samples/konnect-kongservice-and-kongroute-plugin-annotated.yaml
  controller/konnect/index.go
  controller/konnect/index_kongroute.go
  controller/konnect/index_kongservice.go
  controller/konnect/kongpluginbuilder.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/plugins.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_kongplugin_combinations.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  controller/konnect/watch_kongplugin.go
  modules/manager/controller_setup.go
  pkg/annotations/plugins.go
  pkg/annotations/plugins_test.go
  test/envtest/deploy_resources.go
Labels: area/konnect

#643 feat: add KongCertificate reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_certificate.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/kongcertificate.go
  controller/konnect/ops/kongcertificate_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongcertificate.go
  controller/konnect/ops/ops_kongcertificate_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_kongcertificate.go
  controller/konnect/watch_test.go
  modules/manager/controller_setup.go
  test/envtest/consts.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_certificate_test.go
Labels: area/konnect

#646 feat(konnect): add KongKey reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_kongcacertificate.yaml
  config/samples/konnect_kongkey.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/kongkey.go
  controller/konnect/ops/kongkey_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongkey.go
  controller/konnect/ops/ops_kongkey_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_kongkey.go
  controller/konnect/watch_test.go
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_key_test.go
Labels: area/konnect

#651 tests: add envtest based tests for binding plugins to KongRoutes and KongServices
  test/envtest/deploy_resources.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/update_status.go
  test/envtest/watch.go
Labels: area/tests, area/konnect

#652 feat(konnect): allow binding KongConsumer in KongPluginBinding
  CHANGELOG.md
  config/samples/konnect-kongpluginbinding-kongservice-kongconsumer.yaml
  controller/konnect/constraints/entitytypename.go
  controller/konnect/ops/ops_kongpluginbinding.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/update_status.go
Labels: area/konnect

#654 feat(konnect): allow binding KongConsumerGroup in KongPluginBinding
  CHANGELOG.md
  config/samples/konnect-kongpluginbinding-kongservice-kongconsumer.yaml
  config/samples/konnect-kongpluginbinding-kongservice-kongroute.yaml
  config/samples/konnect-kongpluginbinding.yaml
  config/samples/konnect-kongservice-and-kongroute-plugin-annotated.yaml
  config/samples/konnect-kongservice-plugin-annotated.yaml
  controller/konnect/kongpluginbuilder.go
  controller/konnect/ops/ops_kongpluginbinding.go
  test/envtest/deploy_resources.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/update_status.go
Labels: area/konnect

#656 chore(tests): disable KIC admission webhook for `TestKongPluginInstallationEssentials`
  test/helpers/generators.go
  test/integration/test_kongplugininstallation.go
Labels: test-flake, area/tests, area/maintenance

#659 fix(konnect): do not create Service+Route combinations for `konghq.com/plugins` annotated entities
  controller/konnect/reconciler_kongplugin_combinations.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  test/envtest/kongpluginbinding_managed_test.go
Labels: area/konnect

#657 feat(konnect): add KongKeySet reconciler
  .mockery.yaml
  CHANGELOG.md
  config/crd/bases/gateway-operator.konghq.com_dataplanekonnectextensions.yaml
  config/samples/konnect_kongkeyset.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/kongkeyset.go
  controller/konnect/ops/kongkeyset_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongkeyset.go
  controller/konnect/ops/ops_kongkeyset_test.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_kongkeyset.go
  controller/konnect/watch_test.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_keyset_test.go
Labels: area/konnect

#662 chore: use IsZero() for ctr.Result to make check
  controller/controlplane/controller.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/controller.go
  controller/gateway/controller.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_upstreamref.go
Labels: enhancement, area/maintenance

#661 feat: implement KongCredentialACL reconciler
  .mockery.yaml
  CHANGELOG.md
  config/samples/konnect_kongconsumer_acl.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_acl.go
  controller/konnect/ops/credentialacl.go
  controller/konnect/ops/credentialacl_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_credentialacl.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_generic.go
  controller/konnect/watch.go
  controller/konnect/watch_credentialacl.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/kongconsumercredential_acl_test.go
Labels: area/konnect

#666 chore: introduce index for `DataPlane`s referencing `KongPluginInstallation`s
  controller/dataplane/watch.go
  internal/utils/index/index.go
  modules/manager/controller_setup.go
  modules/manager/run.go
Labels: enhancement, area/maintenance

#670 tests: fix flaky SDK assertion
  test/envtest/kongpluginbinding_unmanaged_test.go
Labels: test-flake, area/tests

#669 feat(konnect): add support for serviceless `KongRoute`s
  CHANGELOG.md
  config/samples/konnect_kongroute_controlplane_ref.yaml
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_serviceref.go
  controller/konnect/reconciler_serviceref_test.go
  controller/konnect/watch.go
  controller/konnect/watch_credentialacl.go
  controller/konnect/watch_credentialapikey.go
  controller/konnect/watch_credentialbasicauth.go
  controller/konnect/watch_kongkeyset.go
  controller/konnect/watch_kongroute.go
  controller/konnect/watch_kongtarget.go
Labels: area/konnect

#653 feat(konnect): add KongSNI reconciler
  .mockery.yaml
  config/rbac/role/role.yaml
  config/samples/konnect_sni.yaml
  controller/konnect/conditions/conditions.go
  controller/konnect/constraints/constraints.go
  controller/konnect/errors.go
  controller/konnect/index.go
  controller/konnect/index_sni.go
  controller/konnect/ops/kongsni.go
  controller/konnect/ops/kongsni_mock.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_kongsni.go
  controller/konnect/ops/ops_kongtarget.go
  controller/konnect/ops/sdkfactory.go
  controller/konnect/ops/sdkfactory_mock.go
  controller/konnect/reconciler_certificateref.go
  controller/konnect/reconciler_certificateref_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_upstreamref_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongsni.go
  modules/manager/controller_setup.go
  test/envtest/deploy_resources.go
  test/envtest/konnect_entities_sni_test.go
  test/integration/test_konnect_entities.go
Labels: area/konnect
