Repository Kong/kong-operator, pull requests merged in 2024-07, with the labels that each got.

#389 ci(renovate): use tags for kubernetes/code-generator and extract kustomize's version prefix
  .tools_versions.yaml
  renovate.json
Labels: area/ci

#387 feat: set proper User-Agent for each request
  CHANGELOG.md
  modules/manager/metadata/metadata.go
  modules/manager/run.go
Labels: enhancement

#369 fix: fix ControlPlane managed resource labels during migration from 1.2 and older
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_watch.go
  controller/controlplane/controlplane_controller_reconciler_utils_test.go
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  pkg/utils/gateway/ownerrefs.go
  pkg/utils/kubernetes/lists.go
  pkg/utils/kubernetes/owners.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  test/e2e/test_helm_install_upgrade.go
  test/helpers/setup.go
Labels: area/controlplane

#400 feat: introduce CRD KongPluginInstallation
  CHANGELOG.md
  Makefile
  api/v1alpha1/kongplugin_installation_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway-operator.konghq.com_kongplugininstallations.yaml
  docs/api-reference.md
  go.mod
  go.sum
  hack/generators/kic/kustomize.go
  hack/generators/kic/role-generator/main.go
  pkg/clientset/typed/apis/v1alpha1/apis_client.go
  pkg/clientset/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/clientset/typed/apis/v1alpha1/fake/fake_kongplugininstallation.go
  pkg/clientset/typed/apis/v1alpha1/generated_expansion.go
  pkg/clientset/typed/apis/v1alpha1/kongplugininstallation.go
Labels: enhancement, area/crds

#421 chore(deps): bump github.com/Masterminds/sprig from v2.22.0+incompatible to v3.2.3
  hack/generators/go.mod
  hack/generators/go.sum
  hack/generators/kic/role-generator/helpers.go
Labels: dependencies
