Repository Kong/kong-operator, pull requests merged in 2025-03, with the labels that each got.

#1265 ci: add testifylint to golangci-lint config
  .golangci.yaml
  controller/controlplane/controller_reconciler_utils_test.go
  controller/dataplane/bluegreen_controller_test.go
  controller/dataplane/controller_reconciler_utils_test.go
  controller/dataplane/controller_test.go
  controller/dataplane/owned_finalizer_controller_test.go
  controller/gateway/controller_reconciler_utils_test.go
  controller/gateway/controller_test.go
  controller/gatewayclass/controller_reconciler_utils_test.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_kongservice_test.go
  controller/konnect/ops/ops_kongupstream_test.go
  controller/konnect/ops/ops_kongvault_test.go
  controller/konnect/reconciler_konnectapiauth_test.go
  controller/pkg/secrets/cert_test.go
  controller/pkg/secrets/privkey_test.go
  controller/pkg/secrets/ref/ref_test.go
  pkg/utils/kubernetes/status_test.go
  test/conformance/conformance_test.go
  test/e2e/test_helm_install_upgrade.go
  test/e2e/test_operator_logs.go
  test/envtest/assert.go
  test/envtest/konnect_entities_gatewaycontrolplane_test.go
  test/envtest/log.go
  test/helpers/http.go
  test/helpers/setup.go
  test/integration/test_dataplane.go
  test/integration/test_gateway.go
  test/integration/test_ingress.go
Labels: area/tests

#1177 feat: use KIC as a library in ControlPlane controller
  Makefile
  config/rbac/role/role.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_consts.go
  controller/controlplane/controller_rbac.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/controlplane/controller_test.go
  controller/controlplane/controller_watch.go
  controller/controlplane/controlplane_controller_reconciler_utils_test.go
  controller/controlplane/manager_options.go
  controller/gateway/controller_cleanup.go
  controller/pkg/secrets/cert.go
  controller/pkg/secrets/cert_test.go
  go.mod
  go.sum
  hack/install-telepresence.sh
  modules/manager/controller_setup.go
  modules/manager/run.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/reduce/reduce.go
  pkg/utils/kubernetes/resources/services.go
  test/conformance/suite_test.go
  test/e2e/test_helm_install_upgrade.go
  test/helpers/telepresence.go
  test/integration/suite.go
  test/integration/test_aigateway.go
  test/integration/test_controlplane.go
  test/integration/test_gateway.go
  test/integration/test_kongplugininstallation.go
  test/integration/test_manual_upgrades_and_downgrades.go
Labels: area/feature, area/controlplane

#1241 feat(konnect): set KongConsumer conditions when specified credentials are missing
  config/crd/kustomization.yaml
  controller/konnect/reconciler_apiauthref.go
  controller/konnect/reconciler_consumerref.go
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_type_specific.go
  controller/konnect/reconciler_generic_type_specific_test.go
  controller/konnect/watch_kongconsumer.go
  go.mod
  go.sum
Labels: area/konnect

#1226 Fix(konnect): check if error is validation error by HTTP status code 400
  CHANGELOG.md
  controller/konnect/ops/ops_errors.go
Labels: area/konnect

#1259 fix: delete owner relationship between KongConsumers and credentials
  CHANGELOG.md
  controller/konnect/reconciler_consumerref.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_type_specific_test.go
Labels: area/konnect

#1254 feat(konnect): support `KonnectGatewayControlPlane` reference in `KonnectExtension` controller
  CHANGELOG.md
  controller/konnect/index_konnectextension.go
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_controlplane.go
  controller/konnect/konnectextension_controller_rbac.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_extension.go
  test/integration/zz_generated.registered_testcases.go
Labels: area/konnect-DPs

#1274 chore: manage telepresence installation and version with mise
  .tools_versions.yaml
  Makefile
  hack/install-telepresence.sh
  test/helpers/telepresence.go
Labels: enhancement, area/maintenance

#1291 fix: delete owner relationship between KongKeys and KongKeyset refs and ControlPlanes
  CHANGELOG.md
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_keysetref.go
  controller/konnect/reconciler_keysetref_test.go
  test/envtest/konnect_entities_kongkey_test.go
Labels: area/konnect

#1293 chore(ci): fix govulncheck incorrectly reporting ref
  .github/workflows/govulncheck.yaml
Labels: area/ci

#1283 chore(crd): bump kubernetes configuration and remove `konnectID` typed controlplane ref in Konnect entities
  CHANGELOG.md
  config/crd/kustomization.yaml
  config/samples/konnect_controlplaneref_by_id.yaml
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_generic.go
  go.mod
  go.sum
  test/envtest/asserts_conditions.go
  test/envtest/asserts_konnect.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_kongvault_test.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#1295 chore: pass `--devel` to helm e2e tests
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests, area/maintenance

#1297 feat: populate CP and DP refs in KonnectExtension status
  CHANGELOG.md
  config/samples/controlplane-konnect-extension.yaml
  config/samples/dataplane-konnect-extension.yaml
  controller/controlplane/controller.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/controller.go
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_utils.go
  controller/pkg/extensions/apply.go
  controller/pkg/patch/patch.go
  debug.Dockerfile
  internal/utils/index/index.go
Labels: area/konnect

#1289 chore(tests): enable e2e `TestOperatorLogs`, case `upgrade from nightly to current` and adjustments
  test/e2e/test_helm_install_upgrade.go
  test/e2e/test_operator_logs.go
  test/envtest/konnect_entities_suite_test.go
Labels: area/tests, area/maintenance

#1312 fix: prevent panic in KE controller when dereferencing not existing secret
  controller/konnect/konnectextension_controller.go
Labels: release/required

#1313 fix(konnectExtension): don't trigger error when CP is not programmed
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_utils.go
  controller/pkg/extensions/errors/errors.go
Labels: release/required

#1314 fix(konnect): ensure objects have konnect cleanup finalizer set when reattaching to a referenced entity
  controller/konnect/konnectextension_controller.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_kongplugin.go
  controller/pkg/patch/finalizer.go
  test/envtest/assert.go
  test/envtest/asserts_meta.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongservice_test.go
Labels: area/konnect

#1317 fixes: minor reconciliation fixes in KE controller
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_utils.go
Labels: release/required

#1326 Fix conflict for "deps: bump kubernetes-configuration to include last KonnectExtension schema changes"
  config/crd/kustomization.yaml
  config/samples/controlplane-konnect-extension.yaml
  config/samples/dataplane-konnect-extension.yaml
  controller/konnect/index_konnectextension.go
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_secrets.go
  controller/konnect/konnectextension_controller_utils.go
  controller/pkg/extensions/konnect/dataplane.go
  controller/pkg/extensions/konnect/konnectextension_test.go
  go.mod
  go.sum
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect-DPs

#1321 fix(ci): fix govulncheck
  .github/workflows/govulncheck-cron.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#1315 chore(deps): update dependency kong/kubernetes-configuration
  config/crd/kustomization.yaml
  go.mod
  go.sum
Labels: dependencies

#1304 feat: automatic secret provisioning
  CHANGELOG.md
  config/samples/dataplane-konnect-extension-automatic-provisioning.yaml
  config/samples/dataplane-konnect-extension-manual-provisioning.yaml
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_secrets.go
  controller/konnect/konnectextension_controller_utils.go
  controller/pkg/secrets/cert.go
  modules/manager/controller_setup.go
  pkg/consts/konnect.go
  pkg/utils/gateway/labels_test.go
  pkg/utils/kubernetes/resources/labels.go
  pkg/utils/kubernetes/resources/labels_test.go
  pkg/utils/kubernetes/resources/secrets.go
Labels: release/required

#1328 fix: allow `DataPlaneMetricsExtension`
  controller/pkg/extensions/validate.go
  controller/pkg/extensions/validate_test.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_extension.go
Labels: area/maintenance

#1331 chore(e2e): provide additional configuration for environment
  test/e2e/environment.go
  test/e2e/test_operator_logs.go
Labels: enhancement, area/tests

#1336 ci: fix docker image test file permissions
  .github/workflows/__build-workflow.yaml
Labels: area/ci

#1339 tests: add WaitForObjectToNotExist to eventually assert the provided object does not exist
  test/e2e/test_helm_install_upgrade.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongtarget_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_konnectdataplanegroupconfiguration_test.go
  test/helpers/eventually/doesnotexist.go
  test/integration/test_controlplane.go
  test/integration/test_dataplane.go
  test/integration/test_dataplane_bluegreen.go
  test/integration/test_konnect_entities.go
Labels: area/tests

#1380 chore: fix create-release-branch workflow branch name
  .github/workflows/release-bot.yaml
Labels: area/ci

#1388 feat(controlplane): add watchNamespaces handling
  CHANGELOG.md
  config/crd/kustomization.yaml
  config/samples/controlplane-dataplane-watchnamespaces.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/controlplane/controller_test.go
  controller/controlplane/controller_watch.go
  go.mod
  go.sum
  pkg/utils/kubernetes/resources/deployments.go
  pkg/utils/kubernetes/resources/deployments_test.go
  test/crdsvalidation/dataplane_test.go
Labels: area/controlplane

#1403 chore: add govulncheck wrapper that allows excluding specific CVEs
  Makefile
  hack/govulncheck-with-excludes.sh
Labels: area/maintenance

#1409 feat: deduce cloud gateway DP group geo based on API auth URL
  CHANGELOG.md
  controller/konnect/konnectextension_controller.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_konnectdataplanegroupconfigurations.go
  controller/konnect/ops/sdk/mocks/sdkfactory_mock.go
  controller/konnect/ops/sdk/sdkfactory.go
  controller/konnect/ops/server_url.go
  controller/konnect/ops/server_url_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/server/region.go
  controller/konnect/server/server.go
  controller/konnect/server/server_test.go
  test/envtest/konnect_entities_konnectdataplanegroupconfiguration_test.go
  test/envtest/update_status.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect, backport release/1.5.x

#1404 tests: add envtest covering DP + KonnectExtension
  controller/pkg/secrets/clusterca.go
  modules/manager/run.go
  test/envtest/dataplane_konnectextensions_test.go
Labels: area/tests

#1421 [backport] feat(ke): set `ControlPlaneRefValid` condition to false (#1414)
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_utils.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  test/helpers/conditions.go
  test/integration/test_konnect_extension.go
  test/integration/zz_generated.registered_testcases.go
Labels: area/konnect
