Repository Kong/kong-operator, pull requests merged in 2025-08, with the labels that each got.

#1990 tests: re-enable ControlPlane's watch namespaces integration test
  go.mod
  go.sum
  ingress-controller/test/integration/consumer_test.go
  ingress-controller/test/integration/httproute_test.go
  ingress-controller/test/integration/ingress_https_test.go
  ingress-controller/test/integration/ingress_regex_match_test.go
  ingress-controller/test/integration/ingress_test.go
  ingress-controller/test/integration/isolated/suite_test.go
  ingress-controller/test/integration/plugin_test.go
  ingress-controller/test/integration/suite_test.go
  ingress-controller/test/internal/helpers/setup.go
  test/helpers/setup.go
  test/integration/controlplane_test.go
Labels: area/tests, area/controlplane

#2018 chore(ci): prevent GitHub API throttling by using GITHUB_TOKEN env if available
  .github/workflows/tests.yaml
  scripts/generate-crd-kustomize.sh
Labels: area/ci

#2016 tests: re-enable TestControlPlaneUpdate
  test/integration/controlplane_test.go
Labels: area/tests, area/controlplane

#1982 feat(controlplane): Support `ControlPlane` level label selectors for `Secret`s and `ConfigMap`s
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/controller_test.go
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
  ingress-controller/internal/cmd/rootcmd/config/cli.go
  ingress-controller/internal/cmd/rootcmd/config/cli_validation_test.go
  ingress-controller/internal/controllers/configuration/configmap_controller.go
  ingress-controller/internal/controllers/configuration/secret_controller.go
  ingress-controller/internal/manager/controllerdef.go
  ingress-controller/internal/manager/run.go
  ingress-controller/internal/manager/setup.go
  ingress-controller/pkg/manager/config/config.go
  ingress-controller/pkg/manager/config_test.go
Labels: area/controlplane

#2045 fix(gateway): fix Gateway reconciliation and set dataplane in ControlPlane status
  .github/workflows/tests.yaml
  charts/kong-operator/crds/custom-resource-definitions.yaml
  config/crd/kustomization.yaml
  config/samples/controlplane_v2.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_test.go
  controller/controlplane/controller_utils.go
  controller/controlplane/controller_watch.go
  controller/controlplane/manager_options.go
  controller/controlplane_extensions/controller_enqueue_funcs.go
  controller/controlplane_extensions/metricsscraper/manager.go
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  ingress-controller/internal/cmd/rootcmd/config/cli.go
  ingress-controller/internal/manager/controllerdef.go
  ingress-controller/pkg/manager/config/config.go
  ingress-controller/pkg/manager/config_test.go
  internal/types/gatewaytypes.go
  internal/types/operatortypes.go
  internal/utils/index/controlplane.go
  internal/utils/index/dataplane.go
  modules/manager/controller_setup.go
  test/integration/controlplane_test.go
  test/integration/gateway_test.go
Labels: area/controlplane

#2079 fix: fix DataPlaneMetricsExtension reconciliation and re-enable TestControlPlaneExtensionsDataPlaneMetrics
  config/samples/gateway-with-dataplane-metrics-extension_v2.yaml
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  controller/gateway/controller_watch.go
  controller/pkg/extensions/merge.go
  controller/pkg/extensions/merge_test.go
  test/integration/controlplane_extensions_dataplanemetrics_test.go
Labels: area/tests

#2091 Chore(metadata): Use metadata from `modules/manager/metadata` in `ingress-controller` packages
  ingress-controller/Makefile
  ingress-controller/internal/adminapi/kong.go
  ingress-controller/internal/cmd/rootcmd/rootcmd.go
  ingress-controller/internal/k8s/kubeconfig.go
  ingress-controller/internal/konnect/controlplanes/client_test.go
  ingress-controller/internal/konnect/license/client_test.go
  ingress-controller/internal/konnect/nodes/client_test.go
  ingress-controller/internal/konnect/useragent/user_agent_round_tripper.go
  ingress-controller/internal/manager/run.go
  ingress-controller/pkg/metadata/metadata.go
  ingress-controller/pkg/metadata/metadata_test.go
  ingress-controller/pkg/telemetry/manager.go
  ingress-controller/pkg/telemetry/reports.go
  ingress-controller/test/conformance/gateway_conformance_test.go
  ingress-controller/test/envtest/telemetry_test.go
  modules/manager/metadata/metadata.go
Labels: area/controlplane, release/required

#2129 chart: fix config dump template
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/effective-version-1-6-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/templates/services.yaml
Labels: area/charts
