Repository Kong/kong-operator, pull requests merged in 2025-09, with the labels that each got.

#2189 chore(docs/changelog): update changelog for KGO 1.6.3
  CHANGELOG.md
Labels: area/docs, area/release

#2084 feat: migrate KIC validation webhook
  config/default/manager_webhook_patch.yaml
  config/default/validating_policies/kustomization.yaml
  config/default/validating_policies/validating_webhook_configuration.yaml
  config/webhook/service.yaml
  docs/cli-arguments-for-developer-konghq-com.md
  docs/cli-arguments.md
  ingress-controller/internal/admission/handler.go
  ingress-controller/internal/admission/handler_test.go
  ingress-controller/internal/admission/server.go
  ingress-controller/internal/admission/server_test.go
  ingress-controller/internal/admission/validator.go
  ingress-controller/internal/admission/validator_test.go
  ingress-controller/internal/cmd/rootcmd/config/cli.go
  ingress-controller/internal/manager/run.go
  ingress-controller/internal/manager/setup.go
  ingress-controller/pkg/manager/config/admission.go
  ingress-controller/pkg/manager/config/config.go
  ingress-controller/pkg/manager/config_test.go
  ingress-controller/pkg/manager/manager.go
  ingress-controller/pkg/manager/multiinstance/manager.go
  ingress-controller/pkg/manager/multiinstance/mocks_test.go
  ingress-controller/test/conformance/suite_test.go
  ingress-controller/test/envtest/admission_webhook_envtest_test.go
  ingress-controller/test/envtest/control_plane_reference_test.go
  ingress-controller/test/envtest/manager_envtest_test.go
  ingress-controller/test/envtest/run.go
  ingress-controller/test/integration/gateway_webhook_test.go
  ingress-controller/test/integration/httproute_webhook_test.go
  ingress-controller/test/integration/ingress_webhook_test.go
  ingress-controller/test/integration/isolated/suite_test.go
  ingress-controller/test/integration/suite_test.go
  ingress-controller/test/util/webhooks.go
  ingress-controller/validation/webhook.go
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/run.go
  pkg/utils/test/config.go
  test/integration/suite_test.go
Labels: area/kong-operator, area/charts, area/webhook

#2210 chore(chart): bump chart to 0.0.7
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/Chart.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/__snapshots__/validating-policies-dataplane-ports-disabled.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-disabled-values.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-enabled-cert-manager.snap
  charts/kong-operator/ci/__snapshots__/webhooks-validating-and-conversion-disabled-values.snap
Labels: area/charts

#2240 tests: fix flaky test TestConfigErrorEventGenerationInMemoryMode
  ingress-controller/test/envtest/configerrorevent_envtest_test.go
  ingress-controller/test/envtest/run.go
Labels: area/tests

#2251 chore: release prepare Chart `1.0.0`
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/Chart.yaml
  charts/kong-operator/README.md
  charts/kong-operator/UPGRADE.md
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/__snapshots__/validating-policies-dataplane-ports-disabled.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-disabled-values.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-enabled-cert-manager.snap
  charts/kong-operator/ci/__snapshots__/webhooks-validating-and-conversion-disabled-values.snap
Labels: area/release

#2238 chore(ci): remove image pin in ct install tests
  Makefile
Labels: area/ci

#2278 ci: create CLI args docs PR on release
  .github/workflows/__release-workflow.yaml
Labels: area/docs, area/ci, github_actions

#2287 chore(refactor): move `ingress-controller/validation` under `pkg`
  ingress-controller/pkg/validation/webhook.go
  modules/manager/run.go
Labels: area/maintenance

#2291 fix: mark DataPlane as ready when available replicas is is least equal to status.replicas
  controller/dataplane/controller_utils.go
Labels: area/dataplane

#2311 chart: allow setting image digest
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/Chart.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrets-and-image-digest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/__snapshots__/validating-policies-dataplane-ports-disabled.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-disabled-values.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-enabled-cert-manager.snap
  charts/kong-operator/ci/__snapshots__/webhooks-validating-and-conversion-disabled-values.snap
  charts/kong-operator/ci/image-pull-secrets-and-image-digest-values.yaml
  charts/kong-operator/templates/_helpers.tpl
  charts/kong-operator/templates/deployment.yaml
  charts/kong-operator/values.yaml
Labels: area/charts

#2326 tests: fix TestSetupControllers
  modules/manager/controller_setup_test.go
Labels: area/tests

#2331 chore(ci): fix release docs PR
  .github/workflows/__release-workflow.yaml
Labels: area/ci

#2348 chore(crds): update CRDs to version 2.0.1
  Makefile
  charts/kong-operator/charts/ko-crds/templates/ko-crds.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrets-and-image-digest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/__snapshots__/validating-policies-dataplane-ports-disabled.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-disabled-values.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-enabled-cert-manager.snap
  charts/kong-operator/ci/__snapshots__/webhooks-validating-and-conversion-disabled-values.snap
  config/crd/ingress-controller-incubator/incubator.ingress-controller.konghq.com_kongservicefacades.yaml
  config/crd/kong-operator/configuration.konghq.com_ingressclassparameterses.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcacertificates.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcertificates.yaml
  config/crd/kong-operator/configuration.konghq.com_kongclusterplugins.yaml
  config/crd/kong-operator/configuration.konghq.com_kongconsumergroups.yaml
  config/crd/kong-operator/configuration.konghq.com_kongconsumers.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcredentialacls.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcredentialapikeys.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcredentialbasicauths.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcredentialhmacs.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcredentialjwts.yaml
  config/crd/kong-operator/configuration.konghq.com_kongcustomentities.yaml
  config/crd/kong-operator/configuration.konghq.com_kongdataplaneclientcertificates.yaml
  config/crd/kong-operator/configuration.konghq.com_kongkeys.yaml
  config/crd/kong-operator/configuration.konghq.com_kongkeysets.yaml
  config/crd/kong-operator/configuration.konghq.com_konglicenses.yaml
  config/crd/kong-operator/configuration.konghq.com_kongpluginbindings.yaml
  config/crd/kong-operator/configuration.konghq.com_kongplugins.yaml
  config/crd/kong-operator/configuration.konghq.com_kongroutes.yaml
  config/crd/kong-operator/configuration.konghq.com_kongservices.yaml
  config/crd/kong-operator/configuration.konghq.com_kongsnis.yaml
  config/crd/kong-operator/configuration.konghq.com_kongtargets.yaml
  config/crd/kong-operator/configuration.konghq.com_kongupstreampolicies.yaml
  config/crd/kong-operator/configuration.konghq.com_kongupstreams.yaml
  config/crd/kong-operator/configuration.konghq.com_kongvaults.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_aigateways.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_controlplanes.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_dataplanemetricsextensions.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_kongplugininstallations.yaml
  config/crd/kong-operator/gateway-operator.konghq.com_watchnamespacegrants.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectapiauthconfigurations.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectcloudgatewaydataplanegroupconfigurations.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectcloudgatewaynetworks.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectcloudgatewaytransitgateways.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectextensions.yaml
  config/crd/kong-operator/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
Labels: area/crds, area/charts

#2343 Fix(konnect): KonnectExtension get CP cluster type from KonnectGatewayCotrolPlane's status
  CHANGELOG.md
  api/konnect/v1alpha2/konnect_gateway_controlplane_types.go
  charts/kong-operator/charts/ko-crds/templates/ko-crds.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrets-and-image-digest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/__snapshots__/validating-policies-dataplane-ports-disabled.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-disabled-values.snap
  charts/kong-operator/ci/__snapshots__/webhook-conversion-enabled-cert-manager.snap
  charts/kong-operator/ci/__snapshots__/webhooks-validating-and-conversion-disabled-values.snap
  config/crd/kong-operator/konnect.konghq.com_konnectgatewaycontrolplanes.yaml
  controller/konnect/konnectextension_controller_utils.go
  controller/konnect/ops/ops_controlplane.go
  test/integration/konnect_entities_test.go
Labels: area/konnect, priority/high, backport release/2.0.x

#2361 fix(ci): require `unit-tests` to pass CI
  .github/workflows/tests.yaml
Labels: area/maintenance, area/ci, backport release/2.0.x

#2372 add release 2.0.3 to changelog
  CHANGELOG.md
Labels: area/docs, area/release
