Repository Kong/kong-operator, pull requests merged in 2025-01, with the labels that each got.

#959 fix(github): change event on backport action
  .github/workflows/backport.yaml
Labels: backport release/1.2.x, backport release/1.3.x, backport release/v1.4.x

#971 Chore: Pin remaining actions by hashes
  .github/workflows/__build-workflow.yaml
  .github/workflows/backport.yaml
Labels: area/ci

#977 chore(ci): samples test more verbose
  Makefile
  config/samples/konnect-kongservice-kongroute-consumergroup-plugin-annotated.yaml
Labels: area/ci

#978 feat: allow more than 1 replica for ControlPlane
  CHANGELOG.md
  internal/validation/controlplane/validation.go
Labels: area/controlplane

#980 Chore(ci): pin 3rd party actions by hashes (1.4.x)
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/backport.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#944 ci: add actionlint in CI
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
  .tools_versions.yaml
  Makefile
Labels: area/ci

#986 chore(ci): add nightly CI var for pushing images
  .github/workflows/nightly.yaml
Labels: area/ci

#988 Chore(ci): pin 3rd party actions by hashes
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/backport.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#989 chore(ci): pin 3rd party actions by hashes
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#976 chore: remove support for ownership and managed-by legacy labels
  CHANGELOG.md
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_watch.go
  controller/dataplane/bluegreen_controller_test.go
  controller/dataplane/controller_test.go
  controller/dataplane/dynamic_test.go
  controller/dataplane/owned_deployment.go
  controller/dataplane/owned_finalizer_controller.go
  controller/dataplane/owned_resources.go
  controller/pkg/secrets/cert.go
  pkg/consts/consts.go
  pkg/consts/dataplane.go
  pkg/utils/kubernetes/owners.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/resources/deployments_test.go
  pkg/utils/kubernetes/resources/labels.go
  pkg/utils/kubernetes/resources/services_test.go
Labels: area/maintenance, area/controlplane

#984 feat(controlplane): move ControlPlane image validation to CRD CEL rule
  .github/workflows/tests.yaml
  CHANGELOG.md
  Makefile
  api/v1beta1/controlplane_types.go
  config/crd/bases/gateway-operator.konghq.com_controlplanes.yaml
  go.mod
  go.sum
  internal/validation/controlplane/validation.go
  internal/validation/controlplane/validation_test.go
  test/crdsvalidation/controlplane_test.go
  test/envtest/setup.go
Labels: area/controlplane

#995 test: let kustomize workflow use actual code for testing
  .github/workflows/tests.yaml
Labels: area/tests, area/ci

#998 ci: ensure actions sha pin
  .github/workflows/tests.yaml
Labels: area/ci

#1002 chore: remove redundant dependency `golang.org/x/net` (#1002)
  go.mod
  go.sum
  test/crdsvalidation/controlplane_test.go
Labels: area/maintenance

#1003 ci: ensure actions sha pin (action/* included)
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#1004 feat(ci): add ossf scorecard action
  .github/workflows/scorecard.yml
Labels: area/ci

#1006 ci: harden GitHub workflow permissions
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/backport.yaml
  .github/workflows/build.yaml
  .github/workflows/nightly.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#1020 chore(dependabot): group actions/* updates
  .github/dependabot.yml
Labels: area/ci

#1013 chore: remove redundant dependency `golang.org/x/net`
  test/crdsvalidation/dataplane_test.go
Labels: area/maintenance

#940 chore(refactor): do not create temporary file when dealing with container registry credentials
  controller/kongplugininstallation/controller.go
  controller/kongplugininstallation/image/image.go
  controller/kongplugininstallation/image/image_test.go
  go.mod
  go.sum
Labels: enhancement, dependencies

#1031 chore(refactor): accept only what is needed in `DeployCRDs` and `InstallKubernetesConfigurationCRDs`
  pkg/utils/test/setup_helpers.go
  test/conformance/suite_test.go
  test/integration/suite.go
Labels: area/tests, area/maintenance

#1033 chore: pin actions to digests
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci, github_actions

#1034 chore: pin actions to digests
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
Labels: area/ci, github_actions

#1032 chore: pin actions to digests
  .github/workflows/__build-workflow.yaml
  .github/workflows/__release-workflow.yaml
  .github/workflows/release-bot.yaml
  .github/workflows/tests.yaml
  go.mod
  go.sum
Labels: area/ci, github_actions

#1007 feat(dataplane): move DataPlane ports validation to ValidationAdmissionPolicy and ValidationAdmissionPolicyBinding
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/default/kustomization.yaml
  config/default/validating_policies/dataplane_validating_policies.yaml
  config/default/validating_policies/kustomization.yaml
  config/samples/dataplane-with-custom-ports.yaml
  go.mod
  go.sum
  internal/validation/dataplane/validation.go
  internal/validation/dataplane/validation_test.go
  test/crdsvalidation/dataplane_validatingadmissionpolicy_test.go
  test/e2e/test_webhook.go
  test/helpers/kustomize/apply.go
Labels: area/dataplane

#1049 feat(dataplane): move DataPlane dbmode validation to CRD CEL validation rules
  CHANGELOG.md
  Makefile
  api/v1beta1/dataplane_types.go
  api/v1beta1/shared_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  config/default/validating_policies/dataplane_ports_validating_admission_policy.yaml
  config/default/validating_policies/kustomization.yaml
  config/samples/dataplane-with-custom-ports.yaml
  internal/validation/dataplane/validation.go
  internal/validation/dataplane/validation_test.go
  modules/admission/server_test.go
  test/crdsvalidation/dataplane_test.go
  test/e2e/test_webhook.go
  test/integration/test_validating.go
Labels: area/dataplane

#1054 feat: move DataPlane promotion in progress validation to CRD CEL rules
  CHANGELOG.md
  api/v1beta1/dataplane_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  test/crdsvalidation/dataplane_test.go
Labels: area/dataplane

#1058 ci: add merge_queue workflow event trigger
  .github/workflows/tests.yaml
Labels: area/ci

#1044 fix: use correct type for KongRoute headers
  CHANGELOG.md
  controller/konnect/ops/ops_kongroute.go
  go.mod
  go.sum
  test/integration/test_konnect_entities.go
Labels: area/konnect, backport release/v1.4.x

#1052 feat: add support for global KongPluginBindings
  CHANGELOG.md
  config/samples/konnect-kongpluginbinding-global.yaml
  controller/konnect/index_kongpluginbinding.go
  controller/konnect/kongpluginbuilder.go
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/ops_kongpluginbinding_test.go
  controller/konnect/reconciler_generic_pluginbindingfinalizer.go
  controller/konnect/reconciler_kongplugin.go
  docs/api-reference.md
  go.mod
  go.sum
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#1065 feat(dataplane): move DataPlane bluegreen resource rollout strategy validation to CRD CEL
  CHANGELOG.md
  api/v1beta1/shared_types.go
  config/crd/bases/gateway-operator.konghq.com_dataplanes.yaml
  config/crd/bases/gateway-operator.konghq.com_gatewayconfigurations.yaml
  config/crd/dataplane/gateway-operator.konghq.com_dataplanes.yaml
  controller/dataplane/bluegreen_controller.go
  internal/validation/dataplane/errors.go
  internal/validation/dataplane/validation.go
  internal/validation/dataplane/validation_test.go
  test/crdsvalidation/dataplane_test.go
Labels: area/dataplane

#1073 chore: fix ValidatingAdmissionPolicy for DataPlane ports and add it to integration tests suite
  config/default/validating_policies/dataplane_ports_validating_admission_policy.yaml
  test/integration/suite.go
Labels: area/tests

#1075 chore: prepare v1.4.2 changelog
  CHANGELOG.md
Labels: documentation

#1074 chore: add renovate config for Makefile
  renovate.json
Labels: area/ci

#1078 chore: add write permissions to release-bot workflow
  .github/workflows/release-bot.yaml
Labels: area/maintenance

#1071 chore(deps): bump kong/kubernetes-configuration to v1.1.0
  controller/konnect/kongpluginbuilder.go
  controller/konnect/ops/ops_kongroute.go
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_kongplugin.go
  docs/api-reference.md
  go.mod
  go.sum
  test/e2e/test_helm_install_upgrade.go
  test/integration/test_konnect_entities.go
Labels: dependencies

#1080 chore: bump manager's version
  VERSION
  config/components/manager-image/kustomization.yaml
Labels: area/maintenance

#1081 feat: add `-cluster-ca-key-type` and `-cluster-ca-key-size` flags to control the type and size (for rsa) of CA private keys
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/bluegreen_controller_test.go
  controller/dataplane/controller.go
  controller/dataplane/controller_test.go
  controller/dataplane/owned_resources.go
  controller/pkg/secrets/cert.go
  controller/pkg/secrets/cert_test.go
  controller/pkg/secrets/privkey.go
  controller/pkg/secrets/privkey_test.go
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/config/consts.go
  modules/manager/config/types.go
  modules/manager/controller_setup.go
  modules/manager/keys.go
  modules/manager/run.go
  test/conformance/suite_test.go
  test/integration/suite.go
Labels: area/feature

#1085 chore(deps): bump actions/*-artifact actions to v4
  .github/workflows/tests.yaml
Labels: dependencies

#1082 chore(ci): avoid infinite release-bot loop by amending commit msg
  .github/workflows/release-bot.yaml
Labels: area/ci, backport release/1.4.x

#1086 tests(conformance): disable rate limiting
  test/conformance/conformance_test.go
Labels: area/tests

#1010 feat: `GatewayClass` Supported features
  CHANGELOG.md
  Makefile
  controller/gatewayclass/controller.go
  controller/gatewayclass/controller_reconciler_utils.go
  controller/gatewayclass/controller_reconciler_utils_test.go
  internal/types/gatewaytypes.go
  modules/cli/cli.go
  modules/manager/controller_setup.go
  modules/manager/run.go
  pkg/consts/consts.go
  pkg/consts/dataplane.go
  pkg/gatewayapi/supportedfeatures.go
  pkg/utils/test/asserts.go
  pkg/utils/test/predicates.go
  pkg/utils/test/setup_helpers.go
  test/conformance/conformance_test.go
  test/conformance/router_flavor.go
  test/conformance/suite_test.go
  test/integration/suite.go
  test/integration/test_gateway.go
Labels: area/gateway-api

#1118 fix: fix setting DataPlane readiness probe using GatewayConfiguration
  CHANGELOG.md
  controller/gateway/controller.go
  controller/gateway/controller_test.go
  test/integration/test_gatewayconfiguration.go
Labels: area/dataplane

#1115 fix: fix checking status when using a KonnectGatewayControlPlane with KIC CP type
  CHANGELOG.md
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_errors_test.go
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_generic.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/update_status.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect
