Repository Kong/kong-operator, pull requests merged in 2025-02, with the labels that each got.

#1120 feat(konnect): add KongCredentialSecretReconciler to reconcile consumer Secrets with basic-auth credentials and create `KongCredentialBasicAuth` in response
  .golangci.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongconsumer_basicauth_secret.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_basicauth.go
  controller/konnect/index_kongconsumer.go
  controller/konnect/ops/credenetialbasicauth_mock.go
  controller/konnect/ops/credentialbasicauth.go
  controller/konnect/reconciler_credential_secrets.go
  controller/konnect/reconciler_credential_secrets_rbac.go
  controller/konnect/reconciler_credential_secrets_test.go
  controller/konnect/reconciler_generic_rbac.go
  docs/api-reference.md
  go.mod
  go.sum
  modules/manager/controller_setup.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/reduce/reduce.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#1099 fix(konnect): do not set owner relationship between ControlPlane and its config entities
  .golangci.yaml
  CHANGELOG.md
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_controlplaneref_test.go
  controller/konnect/reconciler_generic.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  pkg/utils/kubernetes/status.go
  test/envtest/condition_asserts.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongtarget_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#1162 chore(docs): merge two added sections of changelog
  CHANGELOG.md
Labels: documentation

#1136 Konnect entities: Konnect Cloud Gateways Network
  .github/workflows/tests.yaml
  .mockery.yaml
  CHANGELOG.md
  Makefile
  api/v1alpha1/konnect_extension_types.go
  config/rbac/role/role.yaml
  config/samples/konnect_cloudgateway_network.yaml
  controller/dataplane/konnectextension_test.go
  controller/konnect/constraints/constraints.go
  controller/konnect/errors.go
  controller/konnect/index_konnectcloudgatewaynetwork.go
  controller/konnect/index_test.go
  controller/konnect/kongpluginbuilder.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_konnectnetwork.go
  controller/konnect/ops/sdk/dedicatedcloudgateways.go
  controller/konnect/ops/sdk/mocks/sdkfactory_mock.go
  controller/konnect/ops/sdk/mocks/zz_generated.dedicatedcloudgateways_mock.go
  controller/konnect/ops/sdk/sdkfactory.go
  controller/konnect/ops/server_url.go
  controller/konnect/ops/server_url_test.go
  controller/konnect/reconciler_certificateref_test.go
  controller/konnect/reconciler_controlplaneref.go
  controller/konnect/reconciler_controlplaneref_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_keysetref_test.go
  controller/konnect/reconciler_kongplugin.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  controller/konnect/reconciler_konnectapiauth.go
  controller/konnect/reconciler_serviceref_test.go
  controller/konnect/reconciler_upstreamref_test.go
  controller/konnect/watch.go
  controller/konnect/watch_kongcacertificate.go
  controller/konnect/watch_kongcertificate.go
  controller/konnect/watch_kongconsumergroup.go
  controller/konnect/watch_kongdataplanecertificate.go
  controller/konnect/watch_kongkey.go
  controller/konnect/watch_kongkeyset.go
  controller/konnect/watch_kongpluginbinding.go
  controller/konnect/watch_kongupstream.go
  controller/konnect/watch_kongvault.go
  controller/konnect/watch_konnectcloudgatewaynetwork.go
  controller/konnect/watch_test.go
  docs/api-reference.md
  go.mod
  go.sum
  modules/manager/controller_setup.go
  pkg/utils/test/setup_helpers.go
  test/envtest/condition_asserts.go
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
Labels: area/konnect

#1168 feat(konnect): add consumer credentials secrets reconciler for API Key credentials
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongconsumer_apikey_secret.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials.go
  controller/konnect/index_credentials_apikey.go
  controller/konnect/index_credentials_basicauth.go
  controller/konnect/reconciler_credential_secrets.go
  controller/konnect/reconciler_credential_secrets_rbac.go
  controller/konnect/reconciler_credential_secrets_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: area/konnect

#1176 fix(konnect): fix handling conflicts
  CHANGELOG.md
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_errors_test.go
  controller/konnect/ops/ops_kongcertificate.go
  test/envtest/konnect_entities_kongcertificate_test.go
Labels: area/konnect

#1187 feat(konnect): Support `Secrets` used for `KongCredentialACL`
  CHANGELOG.md
  config/rbac/role/role.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_acl.go
  controller/konnect/reconciler_credential_secrets.go
  controller/konnect/reconciler_credential_secrets_rbac.go
  controller/konnect/reconciler_credential_secrets_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: area/konnect

#1205 ci: add govulncheck to CI
  .github/workflows/govulncheck.yaml
  .github/workflows/tests.yaml
  .tools_versions.yaml
  Makefile
  renovate.json
Labels: area/ci

#1203 tests: add eventuallyAssertSDKExpectations and refactor envtests to use it
  test/envtest/assert.go
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongsni_test.go
  test/envtest/konnect_entities_kongtarget_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_kongvault_test.go
Labels: area/tests

#1221 tests: fix envtest sdk assertions
  test/envtest/assert.go
  test/envtest/asserts_conditions.go
  test/envtest/asserts_cpref.go
  test/envtest/asserts_objectmeta.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongupstream_test.go
Labels: area/tests

#1223 tests: make watch in envtest type safe
  .golangci.yaml
  config/crd/kustomization.yaml
  go.mod
  go.sum
  test/envtest/kongconsumercredential_acl_test.go
  test/envtest/kongconsumercredential_apikey_test.go
  test/envtest/kongconsumercredential_basicauth_test.go
  test/envtest/kongconsumercredential_hmac_test.go
  test/envtest/kongconsumercredential_jwt_test.go
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongroute_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongsni_test.go
  test/envtest/konnect_entities_kongtarget_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_kongvault_test.go
  test/envtest/konnect_entities_konnectapiauthconfiguration_test.go
  test/envtest/watch.go
  test/envtest/watch_test.go
Labels: area/tests

#1208 feat(konnect): add reconciler for secret used as jwt credential
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongconsumer_acl_secret.yaml
  config/samples/konnect_kongconsumer_jwt_secret.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_jwt.go
  controller/konnect/reconciler_credential_secrets.go
  controller/konnect/reconciler_credential_secrets_rbac.go
  controller/konnect/reconciler_credential_secrets_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: area/konnect

#1224 fix(ci): fix generate kustomize ref
  .github/workflows/tests.yaml
  config/crd/kustomization.yaml
  scripts/generate-crd-kustomize.sh
Labels: area/build

#1225 tests: fix envtest TestKongRoute
  test/envtest/konnect_entities_kongroute_test.go
Labels: test-flake, area/tests

#1227 tests: fix envtest TestKongConsumer
  test/envtest/asserts_konnect.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: test-flake, area/tests

#1228 tests: fix envtest TestKongKeySet
  test/envtest/konnect_entities_kongkeyset_test.go
Labels: test-flake, area/tests

#1222 feat(konnect): Support Secrets used for KongCredentialHMAC
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/konnect_kongconsumer_hmac_secret.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_credentials_hmac.go
  controller/konnect/reconciler_credential_secrets.go
  controller/konnect/reconciler_credential_secrets_rbac.go
  controller/konnect/reconciler_credential_secrets_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
Labels: area/konnect

#1236 ci: send govulncheck to github code scanning results
  .github/workflows/govulncheck.yaml
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
Labels: area/ci

#1234 feat(konnect): enqueue KonnectExtension based on KonnectAPIAuthConfiguration changes
  config/crd/kustomization.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/index_konnectextension.go
  controller/konnect/konnectextension_controller.go
  controller/konnect/watch.go
  controller/konnect/watch_konnectcontrolplane.go
  go.mod
  go.sum
  modules/manager/controller_setup.go
Labels: area/konnect, area/konnect-DPs

#1243 feat(konnect): set `KONG_CLUSTER_DP_LABELS` env in DataPlanes based on spec
  config/crd/kustomization.yaml
  config/samples/dataplane-konnect-extension.yaml
  controller/konnect/konnectextension_controller.go
  controller/pkg/extensions/konnect/dataplane.go
  controller/pkg/extensions/konnect/konnectextension_test.go
  go.mod
  go.sum
  internal/utils/dataplane/env.go
  internal/utils/dataplane/env_test.go
Labels: area/konnect, area/konnect-DPs

#1252 Fix(konnect): sort dataplane labels before converting to env
  internal/utils/dataplane/env.go
  internal/utils/dataplane/env_test.go
Labels: area/konnect-DPs

#1250 feat(konnect): Add watch for secret -> KonnectExtension
  CHANGELOG.md
  controller/konnect/index_konnectextension.go
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_rbac.go
  controller/konnect/konnectextension_controller_secrets.go
Labels: area/konnect-DPs
