Repository Kong/kong-operator, pull requests merged in 2025-06, with the labels that each got.

#1701 chore: relax `NetworkPolicy` and use headless `Service` for admin API, fix skaffold, re-enable bunch of tests
  Makefile
  config/debug/manager_debug.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  controller/gateway/controller_reconciler_utils.go
  controller/pkg/secrets/cert.go
  go.mod
  go.sum
  hack/generators/go.mod
  modules/manager/controller_setup.go
  pkg/utils/kubernetes/resources/services.go
  pkg/utils/test/config.go
  pkg/utils/test/predicates.go
  pkg/utils/test/setup_helpers.go
  test/integration/aigateway_test.go
  test/integration/gateway_test.go
  test/integration/httproute_test.go
  test/integration/ingress_test.go
  test/integration/kongplugininstallation_test.go
  test/integration/manual_upgrades_and_downgrades_test.go
Labels: area/tests, area/maintenance

#1712 chore(tests): re-enable e2e `TestOperatorLogs`
  test/e2e/operator_logs_test.go
Labels: area/tests, area/maintenance, area/debt

#1724 chore(ci): re-enable after release of 2.0.0-alpha.1
  .github/workflows/charts-tests.yaml
  .github/workflows/release-bot.yaml
  Makefile
  charts/kong-operator/Chart.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/effective-version-1-6-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/ci/effective-version-1-6-values.yaml
  charts/kong-operator/values.yaml
  test/e2e/helm_install_upgrade_test.go
Labels: area/maintenance, area/ci

#1750 feat(controlplane): add setting controllers and feature gates based on ControlPlane spec
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  go.mod
  internal/types/operatortypes.go
Labels: area/controlplane

#1762 tests: add tests for manager options
  controller/controlplane/manager_options_test.go
Labels: area/tests

#1763 feat: reschedule ControlPlane manager when its spec changes
  config/crd/kustomization.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  go.mod
  go.sum
Labels: area/controlplane

#1765 chore: sync generated role with chart's role and remove unnecessary ClusterRole permissions from said role
  Makefile
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/effective-version-1-6-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/templates/cluster-role-1.6.yaml
  charts/kong-operator/templates/cluster-role.yaml
  config/rbac/role/role.yaml
  controller/controlplane/controller_consts.go
  controller/controlplane/controller_rbac.go
  controller/controlplane/controller_test.go
Labels: area/ci, area/charts

#1771 feat(controlplane): fill in the status with enabled controllers and feature gates
  CHANGELOG.md
  config/samples/controlplane_v2.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
  controller/dataplane/controller_reconciler_utils.go
  controller/specialized/aigateway_controller.go
  pkg/utils/kubernetes/status.go
  pkg/utils/kubernetes/status_test.go
Labels: area/controlplane

#1782 tests: do not get throttled in tests, add rate limiter with high quota
  test/envtest/setup.go
Labels: area/tests
