Repository Kong/kong-operator, pull requests merged in 2025-07, with the labels that each got.

#1811 fix(konnect): ignore sdkerrors.ForbiddenError in konnect entity reconciler
  CHANGELOG.md
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_errors_test.go
  test/envtest/konnect_entities_konnectcloudgatewaynetwork_test.go
Labels: backport release/1.6.x

#1821 feat(controlplane): add gateway discovery configuration options
  config/crd/kustomization.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
  go.mod
  go.sum
Labels: area/controlplane

#1860 Chore(docs): add changelog for release 1.6.2 in main branch
  CHANGELOG.md
Labels: area/docs

#1858 feat(controlplane): add WithInitCacheSyncDuration opt for controlplane
  CHANGELOG.md
  charts/kong-operator/crds/custom-resource-definitions.yaml
  config/crd/kustomization.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  go.mod
  go.sum
Labels: area/controlplane

#1871 chore(ci): run all conformance tests
  Makefile
  ingress-controller/test/util/kustomize_consts.go
Labels: area/tests, area/maintenance, area/ci

#1887 feat: introduce flags `--apiserver-host`, `--apiserver-qps` and `--apiserver-burst`
  .gitignore
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  docs/cli-arguments.md
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/run.go
Labels: enhancement

#1897 fix(docs): proper URL to crds in KIC subchart README.md
  charts/kong-operator/charts/kic-crds/README.md
Labels: area/maintenance

#1886 feat(controlplane): support dataplane sync interval and timeout
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
Labels: area/controlplane

#1913 chore(release): CHANGELOG.md for v2.0.0-alpha.2 and do not run konintegration tests on docs-only changes
  .github/workflows/tests.yaml
  CHANGELOG.md
Labels: area/release

#1912 chore: adapt kic-role-generator to ko
  Makefile
  hack/generators/go.mod
  hack/generators/go.sum
  hack/generators/kic/github.go
  hack/generators/kic/role-generator/helpers.go
  hack/generators/kic/role-generator/main.go
  hack/generators/kic/role-generator/templates.go
  hack/generators/kic/webhook-config-generator/main.go
  internal/versions/controlplane.go
  modules/manager/run.go
  pkg/utils/kubernetes/resources/clusterrole_helpers_test.go
  pkg/utils/kubernetes/resources/clusterroles/doc.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_1_lt3_2.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_2_lt3_3.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_3_lt3_4.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.controlplane_clusterrole_ge3_4.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_1_lt3_2.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_2_lt3_3.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_3_lt3_4.go
  pkg/utils/kubernetes/resources/clusterroles/zz_generated.kong_ingress_controller_rbac_ge3_4.go
  pkg/utils/kubernetes/resources/kic_validatingwebhookconfig_test.go
  pkg/utils/kubernetes/resources/zz_generated.clusterrole_helpers.go
  pkg/utils/kubernetes/resources/zz_generated.kic_validatingwebhookconfig.go
Labels: area/controlplane, area/rbac

#1920 release: kong-operator 0.0.2
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/Chart.yaml
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/effective-version-1-6-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
Labels: area/release, area/charts

#1918 chore(controlplane): Use time.Duration to specify interval and timeout for syncing config with dataplane
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
  ingress-controller/internal/cmd/rootcmd/config/cli.go
  ingress-controller/internal/dataplane/client.go
  ingress-controller/internal/dataplane/synchronizer.go
  ingress-controller/internal/manager/run.go
  ingress-controller/internal/manager/setup.go
  ingress-controller/pkg/manager/config/config.go
  ingress-controller/pkg/manager/config_test.go
  ingress-controller/test/envtest/run.go
Labels: area/maintenance, area/controlplane

#1934 feat(controlplane): combined services from different HTTPRoutes
  CHANGELOG.md
  charts/kong-operator/crds/custom-resource-definitions.yaml
  config/crd/kustomization.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  controller/controlplane/manager_options_test.go
  go.mod
  go.sum
Labels: area/controlplane

#1829 feat(gateway): Set network policy on DP pods
  charts/kong-operator/ci/__snapshots__/affinity-values.snap
  charts/kong-operator/ci/__snapshots__/disable-gateway-controller-values.snap
  charts/kong-operator/ci/__snapshots__/effective-version-1-6-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/env-and-customenv-values.snap
  charts/kong-operator/ci/__snapshots__/extra-labels-values.snap
  charts/kong-operator/ci/__snapshots__/image-pull-secrest-values.snap
  charts/kong-operator/ci/__snapshots__/nightly-can-be-used-values.snap
  charts/kong-operator/ci/__snapshots__/pod-annotations-values.snap
  charts/kong-operator/ci/__snapshots__/probes-and-args-values.snap
  charts/kong-operator/ci/__snapshots__/tolerations-values.snap
  charts/kong-operator/templates/_helpers.tpl
  config/manager/manager.yaml
  controller/gateway/controller.go
  controller/gateway/controller_reconciler_utils.go
  modules/manager/controller_setup.go
  pkg/utils/kubernetes/self_metadata.go
Labels: area/dataplane

#1894 feat(controlplane): Add diagnostics server to dump configuration of control planes
  CHANGELOG.md
  charts/kong-operator/CHANGELOG.md
  charts/kong-operator/ci/__snapshots__/controlplane-config-dump.snap
  charts/kong-operator/ci/controlplane-config-dump.yaml
  charts/kong-operator/templates/_helpers.tpl
  charts/kong-operator/templates/services.yaml
  charts/kong-operator/values.yaml
  controller/controlplane/controller.go
  controller/controlplane/manager_options.go
  docs/cli-arguments.md
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/diagnostics/exposer.go
  modules/diagnostics/http_handler.go
  modules/diagnostics/server.go
  modules/manager/run.go
Labels: area/controlplane
