Repository Kong/kong-operator, pull requests merged in 2025-05, with the labels that each got.

#1574 dep: update kong/kubernetes-configuration to v1.4.0
  CHANGELOG.md
  config/crd/kustomization.yaml
  go.mod
  go.sum
Labels: dependencies

#1583 feat: controlplane extensions and DataPlaneMetricsExtension from EE
  .golangci.yaml
  CHANGELOG.md
  Makefile
  config/dev/manager_dev.yaml
  config/rbac/role/role.yaml
  config/samples/gateway-with-dataplane-metrics.yaml
  controller/controlplane_extensions/controller.go
  controller/controlplane_extensions/controller_enqueue_funcs.go
  controller/controlplane_extensions/controller_predicates.go
  controller/controlplane_extensions/controller_rbac.go
  controller/controlplane_extensions/metricsscraper/admin_api_address_provider.go
  controller/controlplane_extensions/metricsscraper/admin_api_address_provider_test.go
  controller/controlplane_extensions/metricsscraper/enricher.go
  controller/controlplane_extensions/metricsscraper/histogram.go
  controller/controlplane_extensions/metricsscraper/httpclient.go
  controller/controlplane_extensions/metricsscraper/manager.go
  controller/controlplane_extensions/metricsscraper/manager_test.go
  controller/controlplane_extensions/metricsscraper/scraper.go
  controller/controlplane_extensions/metricsscraper/scraper_test.go
  controller/controlplane_extensions/prometheus_plugin.go
  controller/pkg/extensions/dataplanemetrics.go
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/manager/controller_setup.go
  modules/manager/run.go
  pkg/consts/consts.go
  test/integration/suite.go
  test/integration/test_controlplane_extensions_dataplanemetrics.go
  test/integration/zz_generated.registered_testcases.go
Labels: enhancement, area/feature

#1590 feat: certificate management for Konnect DPs from EE
  .github/workflows/tests.yaml
  CHANGELOG.md
  config/rbac/role/role.yaml
  controller/dataplane/certificates/konnect.go
  controller/dataplane/certificates/konnect_test.go
  controller/dataplane/utils/certificates/cert-manager.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  modules/manager/controller_setup.go
  modules/manager/scheme/scheme.go
  test/integration/test_dataplane.go
  test/integration/zz_generated.registered_testcases.go
Labels: enhancement, area/feature

#1602 tests: add chart tests
  .github/supported_k8s_node_versions.yaml
  .github/workflows/charts-tests.yaml
  renovate.json
  scripts/charts-test-env.sh
Labels: area/ci

#1613 chore: fix manifests
  .github/workflows/charts-tests.yaml
  charts/kong-operator/Chart.yaml
  charts/kong-operator/charts/kic-crds/crds/kic-crds.yaml
  charts/kong-operator/crds/custom-resource-definitions.yaml
Labels: area/ci

#1629 chore(deps): bump the k8s-io group to 0.33.1
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
Labels: dependencies

#1633 chore(tests): remove machinery for importing integration tests
  Makefile
  hack/generators/testcases-registration/main.go
  test/helpers/setup.go
  test/integration/aigateway_test.go
  test/integration/controlplane_extensions_dataplanemetrics_test.go
  test/integration/controlplane_test.go
  test/integration/dataplane_bluegreen_test.go
  test/integration/dataplane_scale_subresource_test.go
  test/integration/dataplane_test.go
  test/integration/gateway_test.go
  test/integration/gatewayclass_test.go
  test/integration/gatewayconfiguration_service_name_test.go
  test/integration/gatewayconfiguration_test.go
  test/integration/httproute_test.go
  test/integration/ingress_test.go
  test/integration/kongplugininstallation_test.go
  test/integration/konnect_entities_test.go
  test/integration/konnect_extension_test.go
  test/integration/manual_upgrades_and_downgrades_test.go
  test/integration/run_integration_test.go
  test/integration/suite_test.go
  test/integration/validating_test.go
  test/integration/zz_generated.registered_testcases.go
Labels: enhancement, area/tests, area/maintenance

#1632 chore(ci): decrease charts sync workflow permissions
  .github/workflows/charts-sync.yaml
Labels: area/ci

#1617 chore(ci): use team k8s email in chart sync workflow
  .github/workflows/charts-sync.yaml
Labels: area/ci

#1636 chore: simplify bootstrap of controllers and other EE cleanups
  .gitmodules
  cmd/main.go
  controller/konnect/watch_kongsni.go
  go.mod
  hack/boilerplate.go.txt
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
  internal/utils/index/kongcacertificate.go
  internal/utils/index/kongcertificate.go
  internal/utils/index/kongkey.go
  internal/utils/index/kongkeyset.go
  internal/utils/index/kongpluginbinding.go
  internal/utils/index/sni.go
  internal/validation/dataplane/validation.go
  modules/cli/cli.go
  modules/cli/cli_test.go
  modules/cli/validated.go
  modules/manager/controller_setup.go
  modules/manager/metadata/metadata.go
  modules/manager/run.go
  modules/manager/webhook.go
  test/conformance/suite_test.go
  test/integration/suite_test.go
Labels: area/maintenance

#1639 feat: add CLI args docs generator
  Makefile
  docs/cli-arguments.md
  scripts/cli-arguments-docs-gen/main.go
  scripts/cli-arguments-docs-gen/post-process-for-konghq.sh
Labels: enhancement, area/feature

#1640 tests: fix TestKonnectAPIAuthConfiguration flakiness
  test/envtest/konnect_entities_konnectapiauthconfiguration_test.go
Labels: test-flake, area/tests

#1646 ci: skip workflow runs when only markdown files are changed
  .github/workflows/build.yaml
  .github/workflows/charts-tests.yaml
  .github/workflows/codeql.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/tests.yaml
Labels: area/ci

#1647 chore: remove `ctxinjector` entirely
  controller/controlplane_extensions/controller.go
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/controller.go
  controller/pkg/ctxinjector/ctxinjector.go
Labels: area/maintenance

#1650 chore(tests): single ctrl config and unit test for setup
  modules/manager/controller_setup_test.go
  pkg/utils/test/config.go
  test/conformance/suite_test.go
  test/envtest/controller.go
  test/integration/dataplane_bluegreen_test.go
  test/integration/suite_test.go
Labels: enhancement, area/tests

#1653 fix workflow
  .github/workflows/build.yaml
  .github/workflows/charts-tests.yaml
  .github/workflows/tests.yaml
  scripts/check-docs-only-changes.sh
Labels: area/ci

#1655 chore(refactor): remove callbacks entirely
  controller/dataplane/bluegreen_controller.go
  controller/dataplane/certificates/konnect.go
  controller/dataplane/certificates/konnect_test.go
  controller/dataplane/controller.go
  controller/dataplane/dynamic.go
  controller/dataplane/dynamic_test.go
  controller/dataplane/owned_deployment.go
  modules/manager/controller_setup.go
  test/integration/dataplane_test.go
Labels: area/dataplane, area/maintenance, area/debt

#1657 chore(ci): ensure Go packages downloaded for chart manifests generation
  Makefile
Labels: area/build, area/ci

#1540 fix: dp deploy can be restart
  CHANGELOG.md
  controller/dataplane/owned_deployment.go
  controller/pkg/utils/compare.go
  pkg/utils/test/predicates.go
  test/integration/dataplane_scale_subresource_test.go
  test/integration/replicaset_helpers.go
Labels: area/dataplane

#1661 chore(ci): add charts-passed job to allow the CI to pass
  .github/workflows/charts-tests.yaml
  go.mod
Labels: area/ci

#1376 feat: use KIC as a library in ControlPlane controller
  .tools_versions.yaml
  Makefile
  controller/controlplane/controller.go
  controller/controlplane/controller_consts.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/controlplane/controller_test.go
  controller/controlplane/controller_watch.go
  controller/controlplane/controlplane_controller_reconciler_utils_test.go
  controller/controlplane/manager_options.go
  controller/gateway/controller_cleanup.go
  controller/pkg/secrets/cert.go
  controller/pkg/secrets/cert_test.go
  go.mod
  go.sum
  hack/generators/go.mod
  hack/generators/go.sum
  modules/manager/controller_setup.go
  modules/manager/controller_setup_test.go
  modules/manager/run.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/filters_test.go
  pkg/utils/kubernetes/reduce/reduce.go
  pkg/utils/kubernetes/reduce/reduce_test.go
  pkg/utils/kubernetes/resources/services.go
  test/conformance/suite_test.go
  test/e2e/helm_install_upgrade_test.go
  test/e2e/operator_logs_test.go
  test/helpers/telepresence.go
  test/integration/aigateway_test.go
  test/integration/controlplane_test.go
  test/integration/gateway_test.go
  test/integration/kongplugininstallation_test.go
  test/integration/manual_upgrades_and_downgrades_test.go
  test/integration/suite_test.go
Labels: area/kong-operator

#1681 fix: fix lack of instance_name and protocols reconciliation for `KongPluginBinding`
  CHANGELOG.md
  controller/konnect/ops/ops_kongpluginbinding.go
  controller/konnect/ops/ops_kongpluginbinding_test.go
Labels: area/konnect

#1689 chore: remove entirely function `RemoveOwnerRefIfSet`
  controller/konnect/reconciler_certificateref.go
  controller/konnect/reconciler_consumerref.go
  controller/konnect/reconciler_keysetref.go
  controller/konnect/reconciler_owner_refs.go
  controller/konnect/reconciler_owner_refs_test.go
  controller/konnect/reconciler_serviceref.go
  controller/konnect/reconciler_upstreamref.go
Labels: area/maintenance, area/debt
