Repository Kong/kong-operator, pull requests merged in 2025-04, with the labels that each got.

#1425 [backport 1.5.x] feat(konnect): add namespacedRef support for referencing networks in KonnectCloudGatewayDataPlaneGroupConfiguration (#1423)
  config/samples/konnect_control_plane_cloudgateway_network_konnectID.yaml
  config/samples/konnect_control_plane_cloudgateway_network_namespacedRefyaml
  controller/konnect/errors.go
  controller/konnect/index_konnectcloudgatewaydataplanegroupconfiguration.go
  controller/konnect/index_konnectcloudgatewaydataplanegroupconfiguration_test.go
  controller/konnect/ops/conditions.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_konnectdataplanegroupconfigurations.go
  controller/konnect/ops/ops_test.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_type_specific.go
  controller/konnect/reconciler_konnectnetworkref.go
  controller/konnect/watch_konnectcloudgatewaydataplanegroupconfiguration.go
  test/envtest/konnect_entities_konnectdataplanegroupconfiguration_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#1429 chore: bump version to 1.5.1
  VERSION
  config/components/manager-image/kustomization.yaml
Labels: area/ci

#1428 chore: fix release bot cherry-pick
  .github/workflows/release-bot.yaml
Labels: area/ci, backport release/1.5.x

#1436 chore(refactor): in `KonnectExtension` controller do not fetch `KonnectGatewayControlPlane` from Konnect
  controller/konnect/konnectextension_controller.go
  controller/konnect/konnectextension_controller_utils.go
  test/envtest/dataplane_konnectextensions_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect

#1465 tests: fix helm upgrade e2e test
  test/e2e/test_helm_install_upgrade.go
Labels: area/tests

#1477 chore: reference proper (the newest) GH issue in `t.Skip(...)`
  test/envtest/konnect_entities_kongcacertificate_test.go
  test/envtest/konnect_entities_kongcertificate_test.go
  test/envtest/konnect_entities_kongconsumer_test.go
  test/envtest/konnect_entities_kongconsumergroup_test.go
  test/envtest/konnect_entities_kongdataplaneclientcertificate_test.go
  test/envtest/konnect_entities_kongkey_test.go
  test/envtest/konnect_entities_kongkeyset_test.go
  test/envtest/konnect_entities_kongservice_test.go
  test/envtest/konnect_entities_kongupstream_test.go
  test/envtest/konnect_entities_kongvault_test.go
Labels: area/tests

#1485 ci: fix DockerHub nightly push
  .github/workflows/nightly.yaml
Labels: area/ci

#1488 chore(konnect): bump kubernetes-configuration and update namespacedRef fields
  config/crd/kustomization.yaml
  controller/konnect/ops/ops_kongroute_test.go
  controller/konnect/reconciler_certificateref.go
  controller/konnect/reconciler_certificateref_test.go
  controller/konnect/reconciler_keysetref_test.go
  controller/konnect/reconciler_kongplugin_combinations_test.go
  controller/konnect/reconciler_serviceref_test.go
  controller/konnect/reconciler_upstreamref.go
  controller/konnect/reconciler_upstreamref_test.go
  go.mod
  go.sum
  test/envtest/konnect_entities_kongkey_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/crds, area/konnect

#1502 tests: add support for KONG_TEST_DISABLE_CRD_INSTALL which disables installing CRDs in integration and conformance tests
  test/conformance/suite_test.go
  test/envvars.go
  test/integration/suite.go
Labels: area/tests

#1512 feat: add support for -enforce-config for ControlPlane's ValidatingWebhookConfiguration
  CHANGELOG.md
  controller/controlplane/controller.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/dataplane/owned_deployment.go
  pkg/consts/annotations.go
  pkg/utils/kubernetes/resources/annotations.go
  pkg/utils/kubernetes/resources/annotations_test.go
  pkg/utils/kubernetes/resources/hash.go
Labels: area/azure

#1492 feat: allow migration from serviceless to service bound for `KongRoute`
  CHANGELOG.md
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_serviceref.go
  controller/konnect/reconciler_serviceref_test.go
  controller/konnect/watch_kongroute.go
  internal/utils/index/kongroute.go
  modules/manager/controller_setup.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
Labels: enhancement, area/feature, area/konnect

#1524 fix(dataplane): fix ingress Service ports name setting
  CHANGELOG.md
  controller/dataplane/owned_resources_test.go
  pkg/utils/kubernetes/resources/services.go
Labels: area/dataplane

#1523 chore: upgrade kubernetes-configuration
  CHANGELOG.md
  config/crd/kustomization.yaml
  go.mod
  go.sum
  test/integration/test_dataplane_scale_subresource.go
  test/integration/zz_generated.registered_testcases.go
Labels: area/dataplane

#1489 feat(konnect): transit gateway reconciler
  CHANGELOG.md
  config/rbac/role/role.yaml
  controller/konnect/constraints/constraints.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_errors.go
  controller/konnect/ops/ops_konnecttransitgateway.go
  controller/konnect/ops/sdk/dedicatedcloudgateways.go
  controller/konnect/ops/sdk/mocks/mocks.go
  controller/konnect/ops/sdk/mocks/sdkfactory_mock.go
  controller/konnect/reconciler_apiauthref.go
  controller/konnect/reconciler_generic.go
  controller/konnect/reconciler_generic_rbac.go
  controller/konnect/reconciler_konnectnetworkref.go
  controller/konnect/watch.go
  controller/konnect/watch_konnectcloudgatewaytransitgateway.go
  controller/konnect/watch_test.go
  internal/utils/index/konnectcloudgatewaytransitgateway.go
  modules/manager/controller_setup.go
  test/envtest/konnect_entities_konnecttransitgateway_test.go
Labels: area/konnect, release/required

#1525 chore(tests): make helper for `KongRoute` more generic and reduce flakiness
  config/crd/kustomization.yaml
  go.mod
  go.sum
  test/envtest/kongpluginbinding_managed_test.go
  test/envtest/kongpluginbinding_unmanaged_test.go
  test/envtest/kongplugincleanupfinalizer_test.go
  test/envtest/konnect_entities_kongroute_test.go
  test/helpers/deploy/deploy_resources.go
  test/integration/test_konnect_entities.go
  test/integration/test_konnect_extension.go
Labels: enhancement, area/tests

#1516 feat(dataplane): allow setting DataPlane's NodePort port number
  CHANGELOG.md
  config/samples/dataplane-with-nodeport.yaml
  controller/dataplane/owned_resources.go
  controller/dataplane/owned_resources_test.go
  go.mod
  go.sum
  pkg/utils/kubernetes/resources/services.go
Labels: area/dataplane

#1531 ci: send slack notifications for Docker push failures
  .github/workflows/__build-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/nightly.yaml
Labels: area/ci

#1535 feat(konnect): filter name in listing transit gateways and reuse getMatchingEntryFromListResponseData to extract Konnect ID
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_konnecttransitgateway.go
  test/envtest/konnect_entities_konnecttransitgateway_test.go
Labels: area/konnect

#1410 feat(controlplane): split ClusterRole into ClusterRole and Role to separate permissions when watching a list of namespaces
  CHANGELOG.md
  config/rbac/role/role.yaml
  config/samples/controlplane-dataplane-watchnamespaces.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_rbac.go
  controller/controlplane/controller_reconciler_utils.go
  controller/controlplane/controller_reconciler_utils_test.go
  controller/controlplane/controller_watch.go
  controller/controlplane/controlplane_controller_reconciler_utils_test.go
  controller/controlplane/discovery_client.go
  modules/manager/controller_setup.go
  pkg/consts/consts.go
  pkg/utils/kubernetes/lists.go
  pkg/utils/kubernetes/reduce/filters.go
  pkg/utils/kubernetes/reduce/reduce.go
  pkg/utils/kubernetes/reduce/reduce_test.go
  pkg/utils/kubernetes/resources/controlplane_role.go
  pkg/utils/kubernetes/resources/controlplane_role_test.go
  pkg/utils/kubernetes/resources/labels.go
  pkg/utils/kubernetes/resources/rolebindings.go
  test/e2e/test_helm_install_upgrade.go
Labels: area/controlplane, release/required

#1544 chore(ci): add osv-scanner.toml with vulnerabilities excludes
  osv-scanner.toml
Labels: area/ci

#1545 chore(ci): fix GHA build permissions
  .github/workflows/__build-workflow.yaml
  .github/workflows/build.yaml
  .github/workflows/nightly.yaml
Labels: area/ci

#1556 chore(ci): do not send Slack notifications for PR build failures
  .github/workflows/__release-workflow.yaml
  .github/workflows/build.yaml
Labels: area/ci

#1555 feat(gatewayconfiguration): add support for ControlPlane's watchnamespaces
  CHANGELOG.md
  config/crd/kustomization.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_test.go
  controller/controlplane/controller_utils_test.go
  controller/pkg/controlplane/controlplane.go
  go.mod
  go.sum
  pkg/utils/kubernetes/resources/deployments_test.go
Labels: area/controlplane

#1494 tests: add integration tests for watchNamespaces in ControlPlanes
  config/rbac/role/role.yaml
  controller/controlplane/controller.go
  controller/controlplane/controller_rbac.go
  controller/controlplane/controller_watch.go
  pkg/utils/kubernetes/status.go
  pkg/utils/test/asserts.go
  pkg/utils/test/predicates_conditions.go
  test/helpers/eventually/doesnotexist.go
  test/integration/test_controlplane.go
  test/integration/zz_generated.registered_testcases.go
Labels: area/tests, area/controlplane

#1496 feat: implement mirror KonnectGatewayControlPlanes
  CHANGELOG.md
  config/samples/konnect-control-plane-mirror.yaml
  config/samples/konnect_control_plane_cloudgateway_network_namespacedRef.yaml
  controller/konnect/ops/conditions.go
  controller/konnect/ops/ops.go
  controller/konnect/ops/ops_controlplane.go
  controller/konnect/ops/ops_controlplane_test.go
  controller/konnect/ops/ops_test.go
  test/helpers/deploy/deploy_resources.go
Labels: area/konnect
